[2015-05-02 01:14] TravisEz13 opened #4 "Need test coverage for Test-TargetResource"

[2015-05-02 21:04] TravisEz13 commented on #4
Pull Request #5 by @SimonWahlin closes this issue

[2015-05-02 21:04] #4 closed

[2015-05-05 19:17] tysonjhayes opened #6 "Ability to Set OU"
I'd like to be able to set the OU on domain join and move the AD Object if possible. While I'm happy to write this myself I wanted to know what dependencies this resource would be willing to take. For example there is a Move-ADObject if we require the AD Module to be installed.  This would probably be the easiest requirement and the move powershell like.

[2015-05-20 16:12] iainbrighton opened #7 "Error when specifying no Domain or Workgroup Name"
When supplying a configuration to just set the computer's name - without specifying a Domain or Workgroup name - the Test-TargetResource method fails. The first Test-TargetResource fails as expected as the computer name is incorrect.

However, after the machine has been renamed correctly and rebooted, all subsequent Test-TargetResource calls fail as the method does not return $true or $false!

[2015-05-20 16:37] TravisEz13 commented on #7
fixed in above commit

[2015-05-20 16:37] #7 closed

[2015-10-20 18:12] PrahlM93 commented on #6
Hi,
I made a pull request with code that allows you to specify the OU when joining to the domain:
https://github.com/PowerShell/xComputerManagement/pull/13

We'll see if Microsoft accepts it, but you can use it for the time being.

[2015-10-30 20:06] amitsara opened #14 "Cannot change computer name using xComputer resource"
configuration foo
{
    Import-dscresource -ModuleName xComputerManagement
    xComputer x
    {
        Name = 'amitsara-PC2'
    }
}

foo
Start-DscConfiguration -path .\foo -wait -force -Verbose

PS C:\Scenario\TwoTierPKI> F:\Users\Administrator\Desktop\Untitled1.ps1

    Directory: C:\Scenario\TwoTierPKI\foo

Mode                LastWriteTime         Length Name
----                ------------

[2015-11-04 22:02] dcrreynolds opened #15 "Computer Name length"
Computer names longer than 15 chars will have their name truncated upon rename. After this, test-targetResource will continually return false, and set-targetResource will continually throw an exception. It would be nice to add a name length check before performing the rename.

[2015-11-10 13:27] leshkinski commented on #15
I would say that the all resource functions need to be aware of the 15 character limitation and automatically truncate the name to 15 characters. This will ensure correct resource functionality and compatibility with windows hostname restrictions.

Alternative is to throw an exception in both, Set and Test, and expect the user to correct his/her configuration error. I'm a fan of this approach, if

[2015-11-11 23:29] dcrreynolds commented on #15
I am a fan of throwing an exception in both Set and Test. It would seem strange to truncate without informing the user and could cause wide spread naming issues. I will add the check and some test cases.

[2015-11-12 21:46] KarolKaczmarek commented on #14
Followed up with @amitsara and this can be closed as he determined both versions of this module from PowerShell gallery and github are working as expected.

[2015-11-12 21:46] #14 closed

[2015-11-12 21:48] KarolKaczmarek commented on #15
agree, performing parameter value check and throwing early is the way to go here

[2015-11-14 01:48] dcrreynolds commented on #15
Adding a ValidationScript at the parameter seemed the cleanest way to add this check, however, the exception thrown is cryptic if the user is not familiar with regex.

[2015-11-26 15:46] MarkDordoy-JustEat commented on #6
Id like to see this issue resolved as this functionality would be good to use. @PrahlM93 has Microsoft said anything about merging it?

[2015-11-29 23:35] PrahlM93 commented on #6
@MarkDordoy-JustEat nothing yet. @tysonjhayes works for Microsoft but still seems to be trying to get someone else to look at it.

[2015-12-01 21:17] 1RedOne opened #17 "Test-DSCResource throws invalid response type"
Noticed that when I change my system name using this module, but make no other changes, that I get a fatal error during Test-TargetResource phase.

VERBOSE: [FOXDC]: LCM:  [ End    Test     ]  [[xComputer]NewNameAndWorkgroup]  in 0.0160 seconds.
The PowerShell DSC resource C:\Program Files\WindowsPowerShell\Modules\xComputerManagement\DscResources\MSFT_xComputer returned results in a format that i

[2016-01-05 18:37] tysonjhayes commented on #6
Merged. Sorry about the delay here.

[2016-01-05 18:37] #6 closed

[2016-01-05 20:40] MCrank commented on #6
Woohoo!  Thanks @tysonjhayes Much appreciated

[2016-02-16 23:45] nanalakshmanan opened #20 "XComputerMgmt: if workgroup name happens to the same name of domain, xComputer Skip set because it thinks you are in the domain already"

[2016-02-20 01:35] TravisEz13 opened #21 "If workstation domain trust fails, Test-targetresource fails unless I specify a PsDscRunAsCredential after it joins the domain"
Output below from failure (I added some extra verbose messages to be sure what was causing it.)
[MSFT_xComputer.psm1#L268](https://github.com/PowerShell/xComputerManagement/blob/dev/DSCResources/MSFT_xComputer/MSFT_xComputer.psm1#L268) throws saying  `Exception calling "GetComputerDomain" with "0" argument(s): "The user name or password is incorrect."`

L268 is currently `return ([System.Directory

[2016-02-20 02:10] TravisEz13 opened #22 "Test for xComputer should verify the trust relationship with the domain"
test-targetresource was passing but this is happening:

[code]

[2016-02-20 02:12] PrahlM93 commented on #21
@TravisEz13, I don't seem to have this issue, but I'm wondering if we could use the Win32_ComputerSystem class instead in the Test-TargetResource function.

This code will get the Domain:
(Get-WmiObject -Class 'Win32_ComputerSystem').Domain
This code will get the Workgroup:
(Get-WmiObject -Class 'Win32_ComputerSystem').Workgroup

The only problem is that the Domain property is filled in with the W

[2016-02-20 02:29] TravisEz13 commented on #21
This is probably related to issue #22.

[2016-03-17 23:01] PlagueHO opened #23 "Add Support for Offline Domain Join (ODJ)"
This is primarily to support joining Nano Servers to a Domain, but it should work for any server as well.

Note: The ```*-Computer``` (e.g. Add-Computer, Rename-Computer) are not available in Nano Server.

Option 1:
Add an optional ODJFile parameter to the xComputer resource:
[code]
If this is passed then instead of using the normal code path it could check for domain membership and if missing cal

[2016-03-17 23:46] tysonjhayes commented on #23
Option 2 makes the most amount of sense to me.

[2016-03-18 21:01] PlagueHO opened #24 "Update xComputerManagement Module to use Standard Unit Test Templates"
I think it is a good idea to bring this Module inline with the standards before I add the new ODJ resource (Issue #23).

I'll make this change.

[2016-03-22 21:04] PlagueHO commented on #23
Thanks @tysonjhayes - I'll go with that option then :+1:

[2016-03-22 22:43] #24 closed

[2016-04-08 21:41] #23 closed

[2016-04-30 18:40] TravisEz13 opened #29 "xComputer Resource should not require the computer name to join a domain"
xComputer Resource should not require the computer name to join a domain

[2016-05-17 11:36] iainbrighton opened #32 "xScheduledTask: Enable/Disable Tasks"
It would be nice to be able to enable or disable an exiting scheduled task. Currently the schema does not expose an 'Enabled' property.

[2016-05-18 23:32] theonlyway commented on #29
This would be great. In my situation I have vCloud already sysprepping the machine before DSC is run so the computer name is already set. I would just like the xComputer resource to join the machine to the domain without requiring me to specify the computer name in the MOF.

[2016-05-19 21:47] brwilkinson commented on #29
I agree, however since it's the Key is cannot be null.

So please allow the value of 'LocalHost'. Then if the value is localhost, just use $ENV:ComputerName.

That way we can host configurations on the Pull server that are consumed by many nodes and this setting will allow it to be generic. Also this will be very easy to implement.

[2016-05-21 21:18] Zuldan opened #34 "xScheduledTask: Add Triggers At log on / At startup"
Thank you for creating the Scheduled Task resource. It would be nice if it could support the Triggers 'At log on' and 'At startup'.

[2016-05-27 13:45] danielgatley commented on #29
I also agree, i'm attempting to use partial configurations to join the machine to the domain and the requirement to specify the machine name is a problem.  I did consider using "`$env:computername" but this falls foul of the ValidationScripts (both the regex and length).

I've created my own resource as a work around but would be nice to get it included in this resource.

[2016-05-27 21:26] PlagueHO commented on #29
I'll try and get onto this change next week unless someone else does it first.

[2016-06-07 11:50] PrahlM93 commented on #29
#37 seems to address this issue.

[2016-06-07 11:52] danielgatley commented on #29
Excellent, thanks to all involved.

[2016-06-16 21:24] TravisEz13 commented on #29
The schema is still broken and requires a computer name.  We should fix the schema.  ComputerName should become newComputerName and not be the key.

[2016-06-16 21:43] brwilkinson commented on #29
The idea was that if you use the string 'Localhost' for the ComputerName, then you intend to join the domain with the current name of the computer. So the name will not be blank, you just need to update the documentation to specify the special word 'localhost' and the context that it is used.

[2016-06-19 18:47] TravisEz13 commented on #29
The problem is you could still have a configuration that says to rename the machine to 'foo' then later to 'bar' and the configuration would never converge.

[2016-07-05 11:44] iainbrighton commented on #32
Closed in https://github.com/PowerShell/xComputerManagement/pull/35

[2016-07-05 11:44] #32 closed

[2016-07-28 19:18] quexionjb opened #41 "Add -RandomDelay option for xScheduledTask"
Thank you for this resource! It would be nice to include support for -RandomDelay when creating repeating tasks.

[2016-07-29 06:32] #15 closed

[2016-08-05 10:53] 1800Zeta commented on #34
Just to "upvote" this option, its something I'm going to have to work on externally for now

[2016-08-16 00:37] DamianBis commented on #34
I also really need this. i'm happy to work on this and do a pull request.

[2016-08-17 14:07] SuperMarioo opened #44 "xComputer Test-TargetResource BUG"
GetComputerDomain Function

Consistent Check is failing as System account doesn't have AD Permissions

([System.DirectoryServices.ActiveDirectory.Domain]::GetComputerDomain()).Name

Test should be changed .

[2016-08-23 21:04] twarnick opened #45 "xScheduledTask failed"
the scheduledTask created successfully, but the verify failed.

here my scheduleTask:

xScheduledTask Task_ddd_sync {
    ActionExecutable = "C:\Program Files (x86)\Robocopy\ddd_sync.cmd"
    RepeatInterval = 60
    ScheduleType = "Minutes"
    TaskName = "ddd-sync"
    DependsOn = '[xUser]TachographUser'
    Ensure = "Present"
    ExecuteAsCredential = $TachographUserCred
    StartTime = "03:00"

[2016-08-23 21:13] twarnick commented on #45
The Error Message in Event log
Source:Microsoft-Windows-Desired State Configuration/Operational:

Job {80BBADD1-6974-11E6-8C2A-000D3A2034C0} :
MIResult: 1
Error Message: Cannot create a file when that file already exists.

Message ID: HRESULT 0x800700b7,Register-ScheduledTask
Error Category: 20
Error Code: 20
Error Type: MI

[2016-09-14 08:57] kvaes commented on #29
Got the same issue. This is a blocker for me when using DSC for a domain join when using Azure Automation (AA). This as AA has a different approach in terms of compiling the MOFs.

[2016-09-14 11:07] theonlyway commented on #29
@kvaes [This](https://www.powershellgallery.com/packages/xDSCDomainjoin) may solve your needs until the Microsoft module is sorted

[2016-09-14 11:09] kvaes commented on #29
@theonlyway thanks! Will look into that.

[2016-09-14 12:20] danielgatley commented on #29
Wasn't this sorted in 1.7.0.0 - "The Name parameter resolves to $env:COMPUTERNAME when the value is localhost".

Just specify "localhost" as the name and it will use the current name.

[2016-09-17 11:18] johlju opened #46 "Move PowerPlan resource from xSQLServer module to xComputerManagement"
In the xSQLServer module there is currently a resource called xSqlServerPowerPlan. A suggestion was raised (issue PowerShell/xSQLServer#129 ) to move that to the xComputerManagement module instead since it is not just connected to SQL. And at the same time rename the resource to xPowerPlan.

Any thoughts on this?

I'm happy to start the process by sending in a PR to this module.

[2016-09-17 14:58] ArieHein commented on #46
I remember such a module in the old stackexchange repo from powershell.org that also had a pagefile resource among other. Always thought it was already merged back to the DSC resources.

https://github.com/PowerShellOrg/StackExchangeResources/tree/master/DSCResources

should probably open a new issue for the pagefile resource then.

[2016-09-18 10:00] johlju commented on #46
@ArieHein sounds like a good idea to open an new issue for a pagefile resource so someone can submit a resource for that to this repo.

[2016-09-23 23:17] TravisEz13 commented on #29
@danielgatley Please read https://github.com/PowerShell/xComputerManagement/issues/29#issuecomment-227013512

[2016-10-27 08:45] lfshr opened #50 "Move SystemLocale resource from SystemLocaleDSC to xComputerManagement"
The SystemLocale resource currently resides inside of it's own module (SystemLocaleDSC).
I believe it makes more sense inside of xComputerManagement\xComputer resource as an optional parameter.

Let me know what you guys think. I've already submitted a PR ([#49](https://github.com/PowerShell/xComputerManagement/pull/49))

Liam

[2016-10-28 06:26] PlagueHO commented on #50
Thanks for raising the issue @TheFish92 !

I'm Ok with moving the functionality of SystemLocaleDsc into xComputerManagement/xComputer if there is a good reason to do so and if the community agrees this is the way to go. This is a fairly reasonable place for the function.

The only caveat to this is that if it did move this function we really should deprecate SystemLocaleDsc because maintaining thi

[2016-10-28 09:24] mgreenegit commented on #50
While I like that this would be one less thing a configuration author would need to discover, I'm concerned to see a high quality module shift in to one that has not met baseline yet.  It would be great to see xComputerManagement become ComputerManagement and then revisit consolidating.  Just my opinion.

[2016-10-28 09:39] TheFish92 commented on #50
I only post this request as I naturally looked inside the xComputer resource to try and find the Locale options. The problem I foresee with leaving the resource until baseline is the increase in the number of configuration scripts that would use the SystemLocale resource. Moving this resource in 6 months later would add another 6 months of potential configuration scripts on top of the current scri

[2016-10-28 11:34] mgreenegit commented on #50
Looking at xComputerManagement, it appears to have docs and both integration and unit tests.  @kwirkykat can you comment on the remaining effort to move it out of experimental status?

[2016-10-28 17:42] kwirkykat commented on #50
@mgreenegit 2 of the resources still need integration tests. I see some issues PSSA will flag in the resource code (there are no verbose messages in xComputer). This module should probably also be set up for localized strings for the verbose messages especially as we are discussing adding SystemLocale here.

I would say this module is closer than most to becoming high quality since it does already

[2016-10-28 18:55] PlagueHO commented on #50
Hi @kwirkykat , @mgreenegit - I'm happy to do the HQRM work on this resource if it will help. Could probably easily get this out by the end of this weekend. I contributed xOfflineDomainJoin so it is already not too far from HQRM - not sure about the others. I'll need to add strings etc and move everything into localization files, but it's mostly cleanup, as you say (thankfully no unit tests :) ).

[2016-10-28 19:08] TheFish92 commented on #50
@PlagueHO I've been looking to sink my teeth into a GitHub project for a while so let me know if there's anything I can fling myself at. I've started writing LocalizedData strings for xComputer.

The hard-coded cultures are for nothing other than intellisense inside of ISE (I'm a sucker for intellisense). Is there a better way to do this in a DSCResource? (such as TabExecution function). The code

[2016-10-28 19:38] PlagueHO commented on #50
@TheFish92 - well if you're up for working on [HQRM](https://github.com/PowerShell/DscResources/blob/master/HighQualityModuleGuidelines.md) then I say go for it? :smile: It would definitely be a great help to the community! 👍 I'm happy to help you on what ever I can (and do the initial reviews). The more help the better I say!

I wrote a blog post containing tips on getting a module up to HQRM sta

[2016-10-28 20:34] TheFish92 commented on #50
@PlagueHO thanks for that. I've touched upon Dynamic Parameters before but have never took the dive and used them, thanks. Actually, it could solve a work-related issue I had with intellisense! (Instead of overwriting tabexpansion2) :)

Would dynamic parameters filter down into the intellisense for the xComputer resource? I thought this came straight from the schema.mof file?

[2016-10-28 20:50] kwirkykat commented on #50
@PlagueHO @TheFish92 Sounds good to me

[2016-10-28 22:14] TheFish92 commented on #50
Shall we create a new issue for the HQRM discussion & progress?

[2016-10-28 22:46] PlagueHO commented on #50
@TheFish92 - definitely! Great idea! Do you want to open the issue?

[2016-10-28 22:50] lfshr opened #51 "xComputerManagement does not meet HQRM requirements"
xComputerManagement does not meet HQRM requirements. This issue is here for discussions and PRs related to the readiness of xComputerManagement gaining HQRM status.

[2016-10-28 22:51] TheFish92 commented on #50
@PlagueHO Done :) I'll fix my explanation tomorrow, too close to bed time and I have tests to write! :P

[2016-10-29 11:04] LiamFisher92 opened #52 "xComputer changes settings on a computer with Certification Authority Service installed."
xComputer will currently attempt to change the settings on a computer with certificate authority (which is not supported by Windows as far as I'm aware).

Is this something that should change? Got some code here that'll run a test, let me know if you want a PR in.

[2016-10-31 14:11] mgreenegit opened #54 "Review changes in robwi repo"
Additions have been made to this module in a separate repo:
[https://github.com/robwi/xComputerManagement](https://github.com/robwi/xComputerManagement)

HELP WANTED

If someone would like to review this work and incorporate changes back to the resource kit as a new PR, that would be a great project.

[2016-11-01 05:25] PlagueHO commented on #52
Hi @TheFish92 - I'm not sure I understand. What settings does it change? Sorry if I'm being dumb :grin:

[2016-11-01 09:43] TheFish92 commented on #52
Hi @PlagueHO, during tests xComputer changed the computer name of the CA server. (If you try and do this manually you're stopped in your tracks as you're not meant to do it). I've not tested any of the other functionality features of xComputer. May be something to test! :)

[2016-11-03 14:22] TheFish92 commented on #52
@PlagueHO would changing the CA's computer name not break all certificates issued by that CA? That's the issue. Sorry for not being as clear 🤓

[2016-11-03 15:48] iainbrighton commented on #52
So this is an issue ONLY when changing the name of a CA server and nothing to do with changing the name of a computer that has certificates issued by a CA? I can see how that wouldn't end well!

I've never tried it, but presumably Windows stops you doing this via the GUI? Nothing like automating the stupid :P

[2016-11-03 15:51] TheFish92 commented on #52
Exactly! Now for the political battle, is it Rename-Computer than should change, or xComputer! 😋

[2016-11-03 15:51] TheFish92 commented on #52
And yeah, the UI stops you in your tracks.

[2016-11-04 06:04] PlagueHO commented on #52
@TheFish92, @iainbrighton - ah right! Now I understand what you mean.

Wouldn't similar problems happen with other workloads? Where would we draw the line on what to prevent and what not? I can think of at least 3 or 4  other workloads or situations that renaming a computer would cause damage to the system.

I'm not sure it is the job of DSC resources to prevent a user from creating configs that c

[2016-11-16 16:38] slyckstyx opened #55 "Computer rename with domain join fails when computer object exists in AD prior to join."
Repro steps: Create computer object in AD with target computer name (preseeded computer object).  Attempt to use xComputerManagement module MSFT_xComputer resource to join the domain and rename to target computer name.  The resource will join the computer to the domain, but the rename fails, as the computer object already exists in AD.

To fix: Need to rename the computer object before joining to

[2016-11-17 17:43] TravisEz13 opened #56 "xComputer should support Offline Domain Join Request file to join domain"

[2016-11-18 05:31] PlagueHO commented on #56
@TravisEz13 - do you mean move the function from xOfflineDomainJoin into xComputer?

[2016-11-19 08:33] LiamFisher92 commented on #52
@PlagueHO Fair point. We could still display a warning of some sort though? Not every developer is going to understand the ramifications of renaming a CA. I'll close this for now though.

Liam

[2016-11-19 08:33] #52 closed

[2016-11-19 08:36] LiamFisher92 commented on #51
Work to do credit kwirkykat:

[2016-11-22 19:56] johlju commented on #46
This was resolved in merge PR #47

[2016-11-22 19:56] #46 closed

[2016-11-30 23:59] TravisEz13 commented on #56
I think I do... I open I did not find xOfflineDomainJoin because I assumed it would be in xComputer (even though I think I reviewed it).

It would probably be a breaking change but the schema is all wrong anyway... xComputer should be a single instance resource.

[2016-12-16 06:16] avishnyakov opened #58 "xComputer fails while joining deleted machine"
If VM was added to the domain, then deleted-recreated-rebuilt, and then we try to use xComputer again, then joining fails with the error "can't join machine to domain cause it already exist"

Here is how to reproduce this issue:
* build VM
* join to DC with xComputer and name "my-dev"
* delete VM
* join to DC with xComputer and name "my-dev" <-- fails here

That could be fixed with the following c

[2016-12-23 00:07] markallisongit commented on #34
Yep, would love to have this.

[2017-01-13 12:28] SGobeil opened #59 "MSFT_xPowerPlan should use power plan guid"
On non-english Windows, power plans names are localized.  Using power plan's GUID instead would make it work as they all seem to be the same across all Windows platforms for standard plans.

[2017-01-14 10:36] johlju commented on #59
I can see that this becomes a problem if the same configuration file is used for different OS languages.
It is easy to list the GUIDs by running

[code]

#### Option 1
We could enhance the schema with a Guid parameter that will override the Name parameter. If Guid is set, the power plan will be set using the Guid, and ignore the Name. The name will still need to be set since it is required, but co

[2017-01-17 01:04] ndarwincorn opened #60 "xScheduledTask: Get-ScheduledTask missing parameter 'TaskPath' on Server 2012 R2?"
This one's weird, when I try to push DSC I get the following error:

    A parameter cannot be found that matches parameter name 'TaskPath'.
        + CategoryInfo          : InvalidArgument: (:) [], CimException
        + FullyQualifiedErrorId : NamedParameterNotFound,Get-ScheduledTask
        + PSComputerName        : MILXXMRDPSDEV01

Running `get-help get-scheduledtask` on the target server pro

[2017-01-17 14:32] typozh commented on #34
I would also vote for this! Thanks.

[2017-01-24 22:36] J0F3 commented on #59
You may have a look at my resouce, which is doing basically the same thing:
https://github.com/J0F3/cPowerPlan

I have just resolved the issue with the GUID and also an other issue where the resouce did not work on core and nano server because of the missing "Win32_PowerPlan" WMI class.

Maybe we can merge my changes also to the MSFT_xPowerPlan resouce. What do you think?

[2017-01-26 21:46] TravisEz13 commented on #59
If it is to set the active power plan, @J0F3's schema looks good.

[2017-02-08 09:08] PlagueHO opened #61 "Convert Resource to use shared AppVeyor module and Markdown/Example Tests"
I'm working on this one.

[2017-02-08 23:11] daBONDi commented on #58
Got the same Problem, suck when you rebuilding multiple vms in vagrant and rejoin them to the domain.

[2017-02-08 23:13] avishnyakov commented on #58
Ahahaha, exactly the same.

I put up that script in vagrant provisioned (ps, chef, whatever you've got) you make it happen.
However, the account (and security) to delete VMs from the AD has to be elevated. Make sure you've for some permissions to do that (in staging / prod) that would be kinda point to solve.

[2017-02-08 23:14] avishnyakov commented on #58
Meaning, xComputer should have additional property to indicate the user who actually HAS permissions to delete computer from AD. Just in case anyone would want to enhance xComputer.

[2017-02-08 23:16] daBONDi commented on #58
I realy hate the nda stuff microsoft put on thix xXxX Modules, realy destroys the mood on contributing :D

[2017-02-08 23:17] avishnyakov commented on #58
What'd you mean? What the NDA stuff you are talking about?

[2017-02-08 23:17] daBONDi commented on #58
For some Maintainer: Same as #55

[2017-02-08 23:19] daBONDi commented on #58
https://github.com/PowerShell/DscResources/blob/master/CONTRIBUTING.md#contribution-license-agreement-cla

[2017-02-08 23:20] iainbrighton commented on #58
There's a contributors agreement that needs to be signed before MS will accept a PR. Effectively you have to agree to MS owning any code you contribute.

[2017-02-08 23:22] avishnyakov commented on #58
And then, potentially, sue you as you used their code somewhere else. Open source is such an open source ^_^

[2017-02-08 23:22] daBONDi commented on #58
Why make it open source then? Thats whyi don't will contribute anything marked with this :-) but i'm not a lawyer, maybe i'm overreacting :-)

Croudsourcing at it best!

[2017-02-08 23:33] iainbrighton commented on #58
That's your choice and I'm not judging. It is an MIT license so you can essentially do whatever you like with your copy/fork of the code.

If you do want contribute to MS' copy, you shouldn't submit copyrighted code. That's true of any open source project as far as I'm aware. You can't blame MS for protecting themselves!

[2017-02-08 23:58] daBONDi commented on #58
Shouldn't the MIT License protect them in that case? I'm not a laywer, this case running into a chatroom :-)
Need to investigate the web to get some light on it :-)

[2017-02-16 16:27] nyanhp opened #63 "xComputerManagement should contain resource for virtual memory management"
It would be beneficial if the module would contain a resource to manage the virtual memory settings.

[2017-02-16 16:28] nyanhp commented on #63
...and I initially wanted to take over the implementation, but I am not able to assign myself to the issue. Please feel free to assign me to it.

[2017-02-19 11:49] J0F3 commented on #59
I just want you know that I updated my module again so also the get and test mechanism does use the GUIDs instead of the names.

[2017-02-19 11:50] J0F3 commented on #59
I just want you know that I updated my module again so also the get and test mechanism does use the GUID insted of the name of the power plans.

[2017-02-23 01:23] TravisEz13 commented on #21
Closing since this is verified to be a duplicate of #22

[2017-02-23 01:23] #21 closed

[2017-02-28 17:10] AndreasSobczyk opened #65 "MSFT_xPowerPlan Support for Nano server"
MSFT_xPowerPlan support for Nano server is currently missing.
There is already a module available that does this and it could easily be merged
https://github.com/J0F3/cPowerPlan

If nobody else is working on it i will properly take a look at how it could be done.

[2017-03-01 11:02] Outek opened #67 "Computer Description in xComputer"
It would be nice, if i can set the computer description in the module xComputer.

[2017-03-08 07:51] nilsvbsol opened #68 "xComputer JoinDomain fails when server is already in domain"
Resource fails with fatal error if the computer already is in the domain.
The test should pick this up, which now it doesn't and hence throws a fatal exception when attempting to join the domain again.

**Error:**
Cannot add computer 'x' to domain 'y' because it is already in that domain.
    + CategoryInfo          : InvalidOperation: (x:) [], CimException
    + FullyQualifiedErrorId : AddCompute

[2017-03-14 16:22] nyanhp commented on #67
Sounds interesting @Outek! I will develop it in https://github.com/nyanhp/xComputerManagement, branch 'feature/descriptionInxComputer'.

[2017-03-15 10:48] nyanhp commented on #41
@quexionjb , @kwirkykat  I will be developing this, as I also need this feature.

[2017-03-30 17:53] Identitry commented on #68
You are probably using NetBios domain name when joining but xComputer uses fully qualified domain name internally that unfortunately triggs a new join that will fail.

[2017-04-21 17:54] ndarwincorn commented on #60
We've figured it out--Carbon overrides the built-in Get-ScheduledTask, and was interfering.

[2017-04-21 17:54] #60 closed

[2017-04-28 12:34] marcinbojko commented on #59
@J0F3 Great work! Just found that issue trying some Polish/Danish language machines.
Using GUID (or NAME) should be the best option

[2017-05-01 02:20] michaelsainz opened #70 "xScheduledTask - Add additional time-based triggers"
Looking through the xScheduledTask DSC resource and I'm noticing that there is no time triggers based upon "monthly", "yearly" or "one time". Can we get this added as a potential enhancement? The ScheduledTasks PowerShell module supports these I believe.

This came about as a need to run some tasks for OS image generation that happen every 2nd Tuesday of the month.

[2017-05-03 20:40] ChrisLGardner commented on #70
#69 should fix this, I believe @PlagueHO or someone else just needs to review it when they get a chance (I might try my hand at it if I find time).

[2017-05-04 17:22] #63 closed

[2017-06-04 10:23] Zuldan opened #72 "xVirtualMemory - Feature Request - Match memory"
It would be great if there was a 5th type of page settings that set the page file to the exact size of the memory installed. For example, if your server had 8GB of RAM. xVirtualMemory would configure the page file (on your specified location) to be 8GB. This would mean if we changed the servers memory to say 16GB, xVirtualMemory would automatically change the paging file to 16GB without having to

[2017-06-07 12:43] johlju opened #73 "Resource to handle SmartScreen Filter"
I used this script to turn off Smart Screen filter. I suggest we make this into a resource, or add this as a parameter to an existing resource.
I do not know if this module is the correct one for this. If not, let me know and I will submit this in the correct module.

[SmartScreen Filter: FAQ](https://support.microsoft.com/en-us/help/17443/windows-internet-explorer-smartscreen-filter-faq)

If ther

[2017-06-07 13:20] johlju opened #74 "xScheduleTask: Cannot disable already present tasks"
It's not possible to disable already present tasks because it needs to set required parameters that should not be changed (and might be unknown per target node).

[code]

[2017-06-28 16:37] bozho opened #75 "xComputer: postpone computer restart"
Sometimes a configuration performs several changes that require a reboot, but not immediately (changing computer name being one of them)

It would be useful for xComputer to be able to raise one of the flags checked by the `xPendingReboot` instead of simply setting `$global:DSCMachineStatus`, in order to enable configuration to control when a reboot occurs.

[2017-07-05 08:10] PlagueHO commented on #56
Hi @TravisEz13 - I just realized that this one should be able to be closed as I completed this a while back now.

[2017-07-08 18:12] #56 closed

[2017-07-11 22:22] #34 closed

[2017-07-11 23:37] PlagueHO commented on #75
This might be possible I think - but we'd want a new config entry to specify the behavior so that this wasn't a breaking change.

e.g.
[code]

The FlagPendingReboot would default to false. But if set to true would set one of the other flags indicating a reboot is required.

I'll see what I can do - got a bit of a back log to get through at the moment.

[2017-07-11 23:40] PlagueHO commented on #74
Hi @johlju - ah - I see. You're talking about the `ActionExecutable` and `ScheduleType` parameters being required parameters. I'll see what I can do - how urgent is this one?

[2017-07-11 23:41] PlagueHO commented on #73
@johlju - sounds like a good idea - and a really easy one to do if someone is looking for something easy to start with. Especially as you've provided much of the code :grin:

[2017-07-11 23:43] PlagueHO commented on #70
Cool! Thanks @ChrisLGardner - this has been merged now. @michaelsainz - any chance you could check if this resolves your issue? The new version won't be released till next month I think, but you can try out the Dev branch if you're interested.

[2017-07-11 23:44] PlagueHO commented on #68
Hi @nilsvbsol - @Identitry is quite correct I think. There is a PR going through at the moment that will resolve this:
https://github.com/PowerShell/xComputerManagement/pull/76

[2017-07-11 23:45] PlagueHO commented on #67
Are you still planning on implementing this one @nyanhp ? If so I'll mark it as in progress.

[2017-07-11 23:50] PlagueHO commented on #65
Hi @AndreasSobczyk - sorry for not getting back to you sooner (I've only just picked up this repo as one of the ones I maintain so I'm trying to clear the backlog)!

This would be awesome if you feel like merging the nano support across - it would gratefully accepted. So if you're keen on doing this, I'll mark the issue as in progress.

[2017-07-12 00:30] PlagueHO commented on #54
Thanks @mgreenegit - I'll see if I can get onto this one in the next few months (I'm starting a major push to clean xComputerManagement up).

[2017-07-12 00:31] PlagueHO commented on #59
Hi @J0F3 , @marcinbojko - are either of you working on a fix for this one or is it still outstanding?

[2017-07-12 00:33] PlagueHO commented on #58
@daBONDi , @iainbrighton , @avishnyakov - are any of you planning on submitting a fix for this one or shall I keep it open on the backlog (I'll get to it some day if no one else does)?

[2017-07-12 07:39] AndreasSobczyk commented on #65
Hi @PlagueHO -  no problem, i actually forgot this completely since Microsoft have chosen to remove the support for intrastructure roles in Nano server, and my usecase was for hyper-v

[2017-07-12 13:15] johlju commented on #74
Not urgent at all for me. Worked around it by using Script-resource instead. But rather use this when it is resolved.

[2017-07-12 15:48] iainbrighton commented on #58
@PlagueHO I have no immediate plans on fixing it 😢. However, we should avoid taking a dependency on the ActiveDirectory module and may have to resort to WMI [Win32_ComputerSystem](https://msdn.microsoft.com/library/aa392154(vs.85).aspx) 🏃.

[2017-07-12 19:59] PlagueHO commented on #58
@iainbrighton - OK I'll try and get to this one some day :grin: Good point about not depending on AD module!

[2017-07-14 16:37] jamesmealing opened #79 "xScheduledTask: Add multiple ScheduleTypes"
Unless I'm missing something really obvious (entirely possible!) I can't seem to find a way to add multiple ScheduleTypes (Triggers) to new Scheduled Tasks. For example, a task that recurs daily, but also runs at computer startup. I have tried specifying multiple schedule types as a comma separated list, and also running a second instance of xScheduledTask to "amend" the new task with an additiona

[2017-07-15 15:03] johlju commented on #59
I just hit this error on a Swedish server. So I could give this a shoot to fix this if nobody else is working on it. But I do need help getting the solution we want.

I don't think @J0F3's resource is entirely optimal because it does not allow the user to set the power plan to the power plan the user created them self, at least it doesn't look so from the code. Let me know if I'm mistaken.
The use

[2017-07-16 21:37] PlagueHO commented on #45
Closed by #62

[2017-07-16 21:37] #45 closed

[2017-07-16 21:40] PlagueHO opened #80 "Move all message & exception strings to Localization Files"
The following modules need to have their strings moved to localization files:
- [x] xComputer
- [x] xScheduledTask
- [x] xVirtualMemory
- [x] CommonResourceHelper

[2017-07-16 21:42] PlagueHO opened #81 "Reach at least 70% Unit Test Code Coverage"
To bring this module up to HQRM standards it needs to reach 70% unit test code coverage.

[2017-07-17 20:17] PlagueHO commented on #79
Hi @jamesmealing - that is a really good question.

Unfortunately with the way the resource is designed it isn't possible to set multiple schedule types for each scheduled task.

The only way to currently do this is to create two completely separate tasks with the same task actions, but with a different schedule. This isn't the most elegant and of course means that you'd need to check two differen

[2017-07-17 20:26] PlagueHO opened #82 "Fix Style issues in Examples"
Most of the examples don't meet style guidelines. The locations also need to be moved to more easily support auto-documentation layout.

[2017-07-17 20:28] PlagueHO opened #83 "Convert to use Auto-Documentation"
This module should be converted to use the Auto-documentation style used by SharePointDsc, xNetworking, xStorage etc.

This enables the documentation and Wiki to be generated automatically from the MOF files, reducing the amount of work that needs to be done to keep the module up-to-date.

[2017-07-17 22:46] PlagueHO opened #84 "Fix all PS Script Analyzer Errors and Flagged Rules"
There are several PSSA Errors being identified that need to be resolved:
https://ci.appveyor.com/project/PlagueHO/xcomputermanagement/build/1.9.31.0#L117
https://ci.appveyor.com/project/PlagueHO/xcomputermanagement/build/1.9.31.0#L137
https://ci.appveyor.com/project/PlagueHO/xcomputermanagement/build/1.9.31.0#L165

There are also some "flagged" rules that should be fixed if possible.

[2017-07-18 05:09] Zuldan opened #85 "xScheduleTask - Time Zone issues"
@PlagueHO I've started converting all my cScheduledTask (totally different resource) configurations to xScheduledTask and noticed some time zone issues. The configuration is being built in Australia but the servers are in New Zealand.

I need a task to run every 15 minutes for 23 hours a day. So I used the following config.

[code]
However, I get the following issue.

[code]

If I do something lik

[2017-07-22 00:33] #68 closed

[2017-07-22 21:22] #82 closed

[2017-07-25 07:38] PlagueHO opened #87 "Update Year in License and Module Manifest to 2017"
See https://github.com/PowerShell/DscResources/issues/298

[2017-07-29 20:20] bozho commented on #75
@PlagueHO  I'm currently on holiday, but I'd be more than happy to implement this when I get back. Just let me know which reboot flag would you prefer to use (it'd probably best to use the same one when making the change from GUI - I just need to find which one it is :-)

[2017-07-31 07:11] PlagueHO opened #88 "Add .GitHub Contributing, Issue Template and Pull Request Template"
Add the files:
 - .github/CONTRIBUTING.md
- .github/ISSUE_TEMPLATE.md
- .github/PULL_REQUEST_TEMPLATE.md
To this repo to improve the amount of information being collected when issues are raised and to provide a checklist for reviewers/contributors when PR's are raised.

We should use the ones from [xFailOverCluster](https://github.com/PowerShell/xFailOverCluster/tree/dev/.github).

[2017-08-03 17:13] Geogboe opened #89 "Does xOfflineDomainJoin know to NOT reapply if computer is already domain joined?"
Should xOfflineDomainJoin NOT apply if a system is already domain joined? I can write up a bug report depending on whether this is expected behavior. I've provided a scenario below if helps.

Scenario:
1. Node A has an offline domain join blob at c:\ad.blob.txt
2. Node A pulls configuration from pull server 1
3. Node A applies multiple configurations blocks including an xOfflineDomainJoin block as

[2017-08-03 17:51] Geogboe commented on #89
I've confirmed that YES, xOfflineDomainJoin will NOT attempt to reapply if the system is already joined to the domain. The reason my configuration was failing during the reapply step is because, after the previous domain join, I was deleting the blob file.

While this resource won't reapply if a system is domain joined it WILL fail if the blob file has been deleted from the local system...which do

[2017-08-03 17:51] #89 closed

[2017-08-10 09:32] PlagueHO opened #90 "Remove BOM on PS1 and PSM1 files and optin to tests"
Optin to these tests once BOM is fixed:
Common Tests - Validate Module Files
Common Tests - Validate Script Files

[2017-08-10 09:34] PlagueHO opened #91 "Add standard VSCode Style Settings"
There is a set of standard .vscode style settings that should be used. Add them in.

[2017-08-11 20:36] #87 closed

[2017-08-11 20:36] #88 closed

[2017-08-11 20:36] #90 closed

[2017-08-11 20:36] #91 closed

[2017-08-12 11:14] #84 closed

[2017-08-12 11:17] PlagueHO opened #94 "Convert all resources to HQRM"
Each module needs to be converted to HQRM standards:
- [x] MSFT_xComputer
- [x] MSFT_xOfflineDomainJoin
- [x] MSFT_xPowerPlan
- [x] MSFT_xScheduledTask
- [x] MSFT_xVirtualMemory

[2017-08-12 11:19] PlagueHO commented on #61
This has been completed.

[2017-08-12 11:19] #61 closed

[2017-08-12 11:20] PlagueHO commented on #51
This issue has been superseded by #94. So I'll close this one.

[2017-08-12 11:20] #51 closed

[2017-08-12 11:23] PlagueHO commented on #17
@1RedOne - I think this one has been fixed. I can't replicate it in the current version.

So I'll close this. Feel free to reopen it if it isn't fixed.

[2017-08-12 11:23] #17 closed

[2017-08-12 11:26] PlagueHO commented on #50
This goes back a long way! :grin: @kwirkykat, @lfshr  - I'm aiming to have this up to HQRM over the coming weeks and then we might be able to finally get this move from SystemLocaleDsc over here.

[2017-08-12 11:34] PlagueHO commented on #54
@mgreenegit - this resource looks interesting. It looks like something has been added to do with "Microsoft Cloud" (Azure?). However I can't really tell what/why the changes were made (no documentation or even code comments to be found). But still might be worth including if we can figure out the purpose. Is @robwi able to shed some light on this?

[2017-08-15 10:17] lfshr commented on #50
@PlagueHO I know right. I'm going to try and get some of these ancient things of mine off the board if you're up for helping out with PRs?

[2017-08-16 08:07] PlagueHO opened #95 "xVirtualMemory: Improve Unit Test Coverage"
**Details of the scenario you tried and the problem that is occurring:**
The unit test coverage of the xVirtualMemory resource is at 41.67% and has the lowest coverage in the resource module.

Bring this resource up to 80% coverage.

**The DSC configuration that is using the resource (as detailed as possible):**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:*

[2017-08-16 14:05] iainbrighton commented on #59
Can we not just just try and parse the `Name` parameter as a System.Guid? If it parses correctly, use the Guid and if not, use it as-is? For example:
[code]
If that's not seen as "clean", we can add a boolean `IsGuid` parameter to indicate that the provided name is a Guid, like so:
[code]
Thoughts?

[2017-08-16 22:09] PlagueHO commented on #59
@iainbrighton - I do like your first pattern there. I even have a function and unit tests for testing if a string is a GUID (from another project I work on):
[code]

I can try and get to this one at some point as I'm doing lots of work trying to get this repo up to HQRM. But no idea when.

[2017-08-17 17:29] J0F3 commented on #59
@johlju is right. My resource does not allow to set a custom power plan. This is mainly because I hade never a need for that. ;-) But it makes absolutely sense that it is possible to set a custom power plan.

I also like the first option from the idea of @iainbrighton

[2017-08-17 19:25] RobBiddle commented on #85
This is definitely a major bug in the 2.0.0.0 implementaion of xScheduledTask
I too am generating MOFs for systems in multiple time zones and this issue completely breaks the xScheduledTask resource, it can't be used as-is in a multi timezone scenario.

Either a switch to use the local timezone needs to be added as mentioned by Zuldan, or the resource parameters need to be changed to [String] or [

[2017-08-17 19:32] PlagueHO commented on #85
This definitely sounds like a high priority problem. I was planning on doing some more work on this module this weekend, so ill make this a top priority. Thank you both for raising this.

[2017-08-18 16:34] RobBiddle commented on #85
I'm sure you already have a good idea how to fix this, but in the off-chance that this is helpful, here's some things I noticed:

It looks like the **New-ScheduledTaskSettingsSet** cmdlet actually expects **[System.TimeSpan]** objects, whereas this DSC resource is using **[System.DateTime]** for its own parameters related to delay/duration/interval.

It looks like the only parameter that will _nee

[2017-08-18 20:46] PlagueHO commented on #85
@RobBiddle - that is great info, and +++ helpful, thank you! I'll make this change tonight (it's Saturday AM here)/tomorrow. If you're up for running it through a couple of tests after I've completed the change/unit tests/integration tests etc that would be very helpful.

[2017-08-22 08:38] PlagueHO commented on #85
Sorry I haven't completed this one. I'm working on it this week - just been a bit of a lot on at work so haven't had the time to put into it yet. Definitely this week though.

[2017-08-22 08:39] Zuldan commented on #85
@PlagueHO no worries. Appreciate you looking at this issue.

[2017-08-22 17:49] RobBiddle commented on #85
@PlagueHO Sorry I wasn't available over the weekend; I was out of town for the solar eclipse.  I'd be happy to test your changes when they're ready.

[2017-08-25 21:17] #81 closed

[2017-08-25 21:17] #95 closed

[2017-08-26 01:57] PlagueHO commented on #85
Being a big supporter of TBD I've managed to create some failing tests for this scenario so I should be able to implement one of the suggested solutions. I am leaning towards @Zuldan 's solution of adding the `UseLocalTime` parameter because of it not requiring a breaking change. Will post an update soon.

[2017-08-26 02:47] PlagueHO commented on #85
Actually, the `UseLocalTime` method won't work unfortunately :cry:.

This is because although the timezone info is stored for each of the Interval/Duration parameters, the DSC LCM handles the conversion of the MOF datetimes back into parameters that are passed into resource. However, this conversion is always performed using local time and as far as I can tell there isn't a way to control that beh

[2017-08-26 05:52] PlagueHO commented on #85
@Zuldan , @RobBiddle - I've finished the changes to convert this over to use string parameters for all Interval/Duration type parameters and everything seems to be working correctly. I'll submit the PR tomorrow, but in the meantime you can find the new version here:
https://github.com/PlagueHO/xComputerManagement/tree/Issue-85

If you fancy testing this out and make sure it solves the problems you

[2017-08-26 22:25] PlagueHO commented on #70
I'm going to close this one now. @michaelsainz - if this hasn't addressed your requirement, please feel free to reopen this one. Thanks!

[2017-08-26 22:25] #70 closed

[2017-08-26 22:26] PlagueHO commented on #74
Hi @johlju - I'll try to get onto this one once PR #98 has been merged.

[2017-08-26 22:29] PlagueHO commented on #72
Hi @Zuldan - this sounds like a pretty cool idea. I'll try and get onto this when I have a moment... (still trying to catch up :grin: )

[2017-08-26 22:30] PlagueHO commented on #44
Wow - this has been outstanding for quite a while. I'll try and look at this one next.

[2017-08-26 22:31] PlagueHO commented on #41
This has been completed now so I'll close.

[2017-08-26 22:31] #41 closed

[2017-08-27 04:16] Zuldan commented on #85
@PlagueHO great work. I'll give this a run in the lab tomorrow.

[2017-08-27 04:22] Zuldan commented on #72
@PlagueHO fantastic! Really appreciate you looking into this.

[2017-08-27 13:09] johlju commented on #74
Sounds great. I hope it will be a small change :) I can review when you are done :)

[2017-08-27 19:14] RobBiddle commented on #85
@PlagueHO I just tested the fix and it looks to be working. Thanks for fixing this!

Not sure if you want to bother trying this, but I think that only the StartTime would need to use a [String] type.  As long as the StatTime value ends up correct (i.e. absolute value) then the rest of the interval/duration parameters should work using the proper [System.TimeSpan] type.  It makes no difference in t

[2017-08-28 08:00] PlagueHO commented on #85
Hi @RobBiddle - You raise a good point.

I'm of two minds about which is the best approach:
On one hand it feels odd to use a DateTime as a Timespan object and a String as a DataTime, but on the other hand it would require less parameter type changes. But either way we'll end up with a breaking change.

I did increase the unit test coverage and refactored some code to reduce reuse with this change

[2017-08-29 10:59] Zuldan commented on #85
@PlagueHO no preference here on my side. Happy to go with whatever you guys decide. I did manage to test the code yesterday in the lab and can confirm it's working fine.

[2017-08-29 13:29] hadhh commented on #85
Hi @PlagueHO,

Will string definition allow to define never ending task ?

`RepetitionDuration = 'Indefinitely'`

[2017-08-29 15:22] cd83 commented on #85
@PlagueHO please consider @hadhh 's suggestion

[2017-08-30 08:30] PlagueHO commented on #85
Hi @hadhh and @cd83 - It does look like this would be easier to implement if `RepetitionDuration` was a string parameter. And it shouldn't be too difficult either. This would obviously push us to sticking with the string parameters for timespan - @RobBiddle - do you have any thoughts/requirements around this?

[2017-09-06 12:01] hadhh commented on #85
@PlagueHO  a workaround can be done for never never ending task with timespan

`RepetitionDuration  = [timespan]::MaxValue.ToString()`

based on code: https://github.com/PowerShell/xComputerManagement/pull/98

[2017-09-07 08:59] #67 closed

[2017-09-11 07:08] PlagueHO commented on #85
Perhaps a solution would be to allow:
`RepetitionDuration = 'indefinite'`

I should be able to include this in this PR if everyone is happy with this approach. Still would like to hear back from @RobBiddle if he's OK with the 'Timespans as Strings' approach rather than the 'At as String' approach.

[2017-09-13 14:43] agarstang commented on #85
This really causes an issue for us as we can't create a scheduled task that repeats indefinitely (or at least for a large amount of time).

This is because it is [using the "TimeOfDay" property](https://github.com/PowerShell/xComputerManagement/blob/dev/DSCResources/MSFT_xScheduledTask/MSFT_xScheduledTask.psm1#L988) which allows us to only fit the duration within a 24 hr window.

The "Once" task t

[2017-09-14 07:22] PlagueHO commented on #85
Thanks @agarstang - I think this confirms that the right choice was to use strings for the TimeStamp. Sorry @RobBiddle - didn't hear back, but I hope this is OK. @Zuldan has confirmed that the TimeStamp as strings method fixes the issues.

So I'll get the support for Indefinite repetition duration completed this weekend. Sorry it has taken so long.

[2017-09-15 23:40] PlagueHO commented on #85
Just doing final testing on this change. I went with @hadhh 's format of:
`RepetitionDuration = 'Indefinitely'`

Because this matched the text you see in the TaskScheduler window for a task with an indefinite duration.

My current inflight PR will include this fix.

[2017-09-17 04:45] PlagueHO commented on #85
I think this is now completed. I'm waiting on a review before merging, but you can try my version here: https://github.com/PlagueHO/xComputerManagement

Any feed back is appreciated.

This one took a lot longer than I'd planned because there was some spaghetti code due to the differences between WS 2012/R2 and WS 2016 that needed to be refactored.

[2017-09-19 20:43] #85 closed

[2017-09-21 09:27] PlagueHO opened #101 "Convert xComputer to HQRM and move strings to Localization File"
Work on issues:
- #94
- #80

[2017-09-23 08:09] #101 closed

[2017-10-03 08:08] PlagueHO opened #103 "Convert xOfflineDomainJoin to HQRM"
**Details of the scenario you tried and the problem that is occurring:**
Convert xOfflineDomainJoin to HQRM

**The DSC configuration that is using the resource (as detailed as possible):**

**Version of the Operating System and PowerShell the DSC Target Node is running:**

**Version of the DSC module you're using, or 'dev' if you're using current dev branch:**

[2017-10-12 07:38] PlagueHO opened #106 "Migrate Pester Test Syntax from v3 -> v4"
**Details of the scenario you tried and the problem that is occurring:**
As of Pester v4 the syntax of the `Should` cmdlet has changed from `Should Be` to `Should -Be`.

There is a helpful script that can be used to easily perform the conversion:
https://gist.github.com/indented-automation/aeb14825e39dd8849beee44f681fbab3

This script should be used to correct the Pester syntax.

[2017-10-20 11:47] dominikheeb opened #107 "xScheduledTask - Missing Only when logged in & Run with elevated rights"
Hi
If I'm not missing anything it seems that i cannot set to run the action with higher privileges and I cannot set Only when User is logged on.

This two are important for a project I work on... would be really nice to have this implemented.

[2017-10-20 16:11] johlju commented on #59
This is the error message for this issue. Caught it on a Spanish Windows Server 2012 R2 server while doing some other work.

[code]

Default power plans on the server for reference.
[code]

[2017-10-20 21:04] PlagueHO commented on #59
Awesome info thanks @johlju - I better get to looking at this one next. It does seem like these GUIDs do align:
[code]

[2017-10-26 06:39] #103 closed

[2017-10-26 07:06] PlagueHO commented on #107
Hi @dominikheeb ,

I can confirm that the `Run with Highest Privileges` and `Run Only when User is Logged On` \`Run whether User is Logged on or Not` has not been exposed yet in this resource.

I'll see what I can do about getting this exposed before the next release.

For reference these values are found in the `Principal` object in the ScheduledTask. The `LogonType` property of the principal nee

[2017-10-26 17:19] dronkoff opened #108 "xScheduledTask doesn't work on Windows Server 2008R2"
I'm creating a DSC configuration with http pull server that will create certain scheduled tasks on both 2012R2 and 2008R2 servers.
If target node is Windows Server 2008R2 the configuration cannot be applied.
[code]

Here are errors I see when run Update-DscConfiguration -Wait -Verbose

[code]

[2017-10-26 17:33] Hossman58 commented on #108
You might need to update WMF to 5.1 or later. What version is running on the 201R2 box?

[2017-10-27 05:54] PlagueHO commented on #108
Hi @dronkoff , unfortunately this resource is dependent on the `*-ScheduledTask` powershell cmdlets. These were first introduced in Windows Server 2012 I think - so they don't exist in Windows Server 2008 R2. It is pretty unlikely that we'd be able to make this work with Windows Server 2008 R2 unfortunately.

[2017-10-27 07:53] dronkoff commented on #108
@Hossman58 Pull server is 2012R2 and PS 5.1. Node is 2008R2 and PS 5.0.
I didn't find official information about where ScheduledTasks module is included or how it can be installed on 2008R2, it would be great if you point me.

[2017-10-27 08:00] dronkoff commented on #108
@PlagueHO Afaik, we can use schtasks.exe for automating scheduled tasks if ScheduledTasks module is missing. So it is possible.
Module release page https://www.powershellgallery.com/packages/xComputerManagement/3.0.0.0 says that there do dependencies and a supported PS version is 4.0. I think it will be good either to support what's declared or declare what is really supported.

[2017-10-27 08:28] PlagueHO commented on #108
Hi @dronkoff - This module is supported on PS 4.0. However, the problem isn't in the version of PowerShell. The issue is that the `ScheduledTasks` module, which this resource depends on, is not built into Windows Server 2008R2. It was first included in Windows Server 2012.

This is the case with many of the PowerShell modules: They are missing from older versions of Windows (Networking for example

[2017-10-27 09:06] dronkoff commented on #108
Hi!
If the solution is not to fix this, then we should update documentation as well as dependencies. I shouldn't be able to install xComputerManagement on a box without ScheduledTasks module.

[2017-10-27 09:33] PlagueHO commented on #108
It is possible that some of the resources in this module do in fact work on Windows Server 2008 R2. So we'd need to confirm this before making a change like that to the manifest. But I'm not actually certain this is an approach the PowerShell DSC Team or the DSC community would recommend.

@kwirkykat are you able to offer some thoughts from the PSDSC team on this? If a resource module has a depend

[2017-10-27 10:49] dronkoff commented on #108
Module dependencies should address all dependencies of it's contents.
If I write a script of two functions, one of them depend on some module, another is not. How do you think, does whole script depend on the module? Or if I write .Net assembly with two classes in it, one depends on another assembly, another is not. Does whole assembly depends on another one? I think both answers are yes.
Usually

[2017-10-27 19:41] PlagueHO commented on #108
Hi @dronkoff - I do understand the difficulty here. I have had a bit of a think about this. The trouble with blocking installation of a resource on a computer because it has an _apply time_ dependency isn't a good idea here. Many people (including myself) develop & compile MOF files on machines that are not the target node (e.g. _develop_ on a Desktop OS and _apply_ on a Server OS). So preventing

[2017-10-27 19:46] PlagueHO commented on #107
Hi @dominikheeb - I'm working on this now. Hope to have a dev version complete by the end of the weekend. Thanks.

[2017-10-30 07:17] StefanSchoof opened #109 "xScheduledTask: Trigger has no option for Synchronize across time zones"
**Details of the scenario you tried and the problem that is occurring:**
I have some Scheduled Task set up with xScheduledTask in the Daylight Saving Time on a Windows Server 2016. After End of the DST my Jobs run one hour early. But one hour early the other system was not ready. After removing the "Synchronize across time zones" in the schedule, the start time is the current time (Local Non DST).

[2017-10-30 07:29] PlagueHO commented on #109
Hi @StefanSchoof - are you able to tell me which version of xComputerManagement you're using? There was a fix in v3.0.0.0 that hopefully addressed this.

[2017-10-30 07:35] StefanSchoof commented on #109
Currently I have 3.0.0.0. I do not remember updating the module since I set up my task, but It is possible I did.

[2017-10-30 08:18] PlagueHO commented on #109
Are you able to take a look at the MOF file that was used to apply to the node to see if it used 3.0.0.0? If it is using 3.0.0.0 and the problem still exists then there may still be an issue with daylight savings time.

[2017-10-30 08:50] StefanSchoof commented on #109
I search my log and found that the Install-Module run on the 06. October 2017 and the first apply failed because I used the old syntax. I had a `RepeatInterval = 1` which I removed. So I think I used 3.0.0.0 the whole time on this Server.

[2017-10-30 08:57] PlagueHO commented on #109
This must still be an issue then. But you are right, it doesn't look like the `Synchronize across time zones` is exposed in the resource. I couldn't actually find this in the `New-ScheduledTaskTrigger` cmdlet either - so I'll need to do some more digging to see where/how this gets exposed to PowerShell.

[2017-10-30 09:27] StefanSchoof commented on #109
Here a the steps for a repo:
 1. Create a Windows 2016 VM in Azure
 2. Deactivate the Hyper-V Time Synchronization Service
 3. Change Time Settings: Settings -> Time & language -> Set time automatically: Off, Time zone UTC + 01:00 Amsterdam, ..., Change Date to 27 October (Had DST Change on 29. October)
 5. Add a dsc file

[code]

 6. `Install-Module xComputerManagement`
`. .\dsc.ps1`
`ScheduledTa

[2017-10-30 16:05] ahebert opened #110 "xScheduledTask - Cannot convert value "Indefinitely" to type "System.DateTime""
**Details of the scenario you tried and the problem that is occurring:**
        xScheduledTask DeploymentTask
        {
            Ensure = "Present"
            Enable = $true
            TaskName = $Node.TaskName
            ActionExecutable = $Node.TaskExecutable
            ScheduleType = "Once"
            StartTime = [datetime]::Now.AddMinutes($Node.TaskIntervalMinutes)
            Repetit

[2017-10-30 18:25] PlagueHO commented on #110
Hi there @ahebert - thanks for submitting this. Can you tell me which version of the xComputerManagement resource you are using?

[2017-10-30 18:28] ahebert commented on #110
ModuleVersion = '2.1.0.0'

[2017-10-31 03:37] PlagueHO commented on #110
No worries! We only added the 'indefinitely' support in v3.0.0.0. Please let me know if this resolves the issue! :grin:

[2017-10-31 13:12] bielawb opened #111 "xScheduledTask - missing option to configure tasks with gMSA accounts."
At the moment there is no option to specify gMSA account as ExecuteAsCredential. Attempt to do that (by passing credential w/o password) will result in error:

[code]

Following instructions here it should be possible with the command used inside this resource:
https://blogs.technet.microsoft.com/askpfeplat/2012/12/16/windows-server-2012-group-managed-service-accounts/

The main difference I see i

[2017-11-01 06:28] PlagueHO commented on #111
Hi @bielawb - I'm actually working on a change that might enable this as part of [Issue 107](https://github.com/PowerShell/xComputerManagement/issues/107). However, I've only managed to get my new integration tests (that cover these use cases) to pass using `New-ScheduledTaskPrincipal` on Windows Server 2016. There seems to be a behavior difference in Windows Server 2012 R2 that I need to resolve.

[2017-11-01 17:42] ahebert commented on #110
The non-issue is resolved. Apologies for the fire drill.

[2017-11-01 17:42] #110 closed

[2017-11-01 18:16] PlagueHO commented on #110
No problemo. Thanks for closing!

[2017-11-04 09:12] PlagueHO commented on #107
Hi @dominikheeb - I've made the changes that I think you need. They're currently in my fork:
https://github.com/PlagueHO/xComputerManagement/tree/Issue-107

Could you possibly give the new version a try and see if it does what you need? I'll then submit the PR if it looks good.

Sorry it took so long, but it turns out there are some behavior differences in `New-ScheduledTaskPrincipal` in Windows S

[2017-11-10 21:28] PlagueHO commented on #107
I have submitted the PR to add these features, but I'm not sure it will make it into master before next release (next Wednesday I think).

[2017-11-11 00:17] markgossa commented on #44
Line 568 from

$domainName = ([System.DirectoryServices.ActiveDirectory.Domain]::GetComputerDomain()).Name

to

$domainName = (Get-WmiObject -Class win32_computersystem).Domain

Want to assign this to me?

[2017-11-11 00:26] PlagueHO commented on #44
Hi @markgossa - sure thing! Definitely keen for the help :grin:. I can't set the "assigned to" to you because GitHub won't let me (I can only assign it to Repo or Org admins). But I won't work on it - I'll leave it to you and mark it as In Progress.

[2017-11-11 00:32] markgossa commented on #44
Hi @PlagueHO - thanks. It'll be my first contribution on GitHub in fact.

[2017-11-11 00:43] PlagueHO commented on #44
@markgossa - that is awesome :grin: ! If you have any questions at all just let me know here and I'll give you a hand. We are really glad to have the help.

[2017-11-17 21:23] #107 closed

[2017-11-18 01:07] ahebert opened #115 "xScheduledTask ExecutionTimeLimit = '00:00:00' sets ExecutionTimeLimit to 3 days"
**Details of the scenario you tried and the problem that is occurring:**
I'm trying to set scheduled task to no time execution limit; ExecutionTimeLimit = '00:00:00'
Doing this sets the execution time limit to 3 days.

This snippet was taken after deployment.
![image](https://user-images.githubusercontent.com/2099033/32975200-b38a79ca-cbb9-11e7-92ed-782d307bf672.png)

**The DSC configuration that

[2017-11-20 17:53] ahebert commented on #79
+1

I feel having multiple schedule types would be a great addition. I've hit the need for this myself.

Just to call out, xFirewall uses a string array to allow multiple values for a few settings: https://github.com/PowerShell/xNetworking/wiki/xFirewall

Although, I'm willing to concede to the fact that the effort to refactor may not be worth the end-value.

[2017-12-03 22:02] markgossa commented on #44
Hi @PlagueHO, did you see my updated code in pull request 113? I've written some pester tests and corrected the code in MSFT_xComputer.psm1. There is a conflict so it can't be merged automatically but it's just a simple merge on readme.md.

[2017-12-03 22:08] PlagueHO commented on #44
Hi @markgossa - sorry about the delay, I took a short holiday :grin: So I'm just now catching up on all the PR's etc. I'll try and get to this one today.

[2017-12-03 23:15] markgossa commented on #44
@PlagueHO - No problem at all! I was also on holiday but got a little bored once or twice so did some work on this on my flight and in the hotel in the evenings. I'll make the changes and get them sent over. Thanks! :-)

[2017-12-04 23:35] PlagueHO opened #116 "Convert xPowerPlan to HQRM"
**Details of the scenario you tried and the problem that is occurring:**
Convert xPowerPlan to HQRM

**The DSC configuration that is using the resource (as detailed as possible):**

**Version of the Operating System and PowerShell the DSC Target Node is running:**

**Version of the DSC module you're using, or 'dev' if you're using current dev branch:**

[2017-12-05 21:53] ahebert commented on #115
master branch

Are you folks able to repro this on server 2016?

[2017-12-06 06:44] PlagueHO commented on #115
Hi @ahebert - I've tried this on Windows Server 2016 and can confirm you are correct. Setting an execution time limit of '00:00:00' will set the time to 3 days. Not setting the parameter at all results in an execution time limit of 8 hours (the default value for the parameter when not set).

This actually has a really simple fix:
Change line:
https://github.com/PowerShell/xComputerManagement/blob/

[2017-12-07 07:00] ahebert commented on #115
Great, thanks for the follow-up. I'll make this change locally.

[2017-12-07 07:11] PlagueHO commented on #115
@ahebert - I'm just completing the changes to the automated tests for this one now and will submit the PR in a little bit. But it might take a little bit to get merged into Dev depending on who is available for review.

[2017-12-07 09:37] PlagueHO commented on #115
While making this change I found that the behaviour of ExecutionTimeLimit is different on Windows Server 2012 R2 and Windows Server 2016:

On Windows Server 2012 R2:
You need to create the settings object and then manually set the ExecutionTimeLimit to 'PT0S'
E.g.
[code]

On Windows Server 2016:
You need to create the settings object and pass in a timespan string of '00:00:00' to the `-ExecutionTi

[2017-12-07 21:30] matt6697 commented on #74
Issue is the same for deleting existing tasks. The following DSC action fails requiring ActionExecutable and ScheduleType parameters.

Fix needed to automate optimization of Citrix XenDesktop and Microsoft RDS Virtual Desktop Infrastructure master images as described in [https://virtualfeller.com/2017/05/04/optimize-vdi-windows-10-scheduled-tasks-original-anniversary-and-creator-updates/](url)

xS

[2017-12-08 19:54] PlagueHO opened #119 "Convert Module Name to ComputerManagementDsc"
As per recent DSC Resource Naming guidelines changes:
https://github.com/PowerShell/DscResources/blob/master/Naming.md

This should also include merging of SystemLocaleDsc and TimezoneDsc

[2017-12-09 06:04] PlagueHO opened #120 "xScheduledTask: Remove unused non-mandatory parameters from Get-TargetResource"

[2017-12-10 02:47] PlagueHO commented on #108
If there are no objections, I'd like to close this one because I don't think there is a good solution to this issue.

[2017-12-10 03:08] PlagueHO commented on #75
I've had a bit more of a look into this to try and figure out which is the best flag to use for triggering a reboot (based on what [xPendingReboot](https://github.com/PowerShell/xPendingReboot/blob/dev/DSCResources/MSFT_xPendingReboot/MSFT_xPendingReboot.psm1) looks for). The best one to use would have been the test to see if the computer needs to be renamed, but the problem is that it won't work

[2017-12-10 03:21] PlagueHO opened #121 "xScheduleTask: Incorrect Message shown when Trigger Type unknown"
**Details of the scenario you tried and the problem that is occurring:**
Unknown Trigger type message does not show trigger type. See issue #74.

**The DSC configuration that is using the resource (as detailed as possible):**

**Version of the Operating System and PowerShell the DSC Target Node is running:**

**Version of the DSC module you're using, or 'dev' if you're using current dev branch:**

[2017-12-10 13:18] dronkoff commented on #108
I don't think this issue should be closed without any resolution.
If nobody is fixing it, it doesn't mean that it doesn't exist.

[2017-12-10 18:22] PlagueHO commented on #108
I'm happy to leave this open. But it is unlikely that I'll be able to add support to it for Windows Server 2008. But if someone else can contribute a solution then it would be gratefully accepted.

[2017-12-11 16:52] bozho commented on #75
Would it make sense to separate the problem? If xComputerManagement changes the computer name, it  will change HKLM:\System\....\ComputerName\ComputerName value. xPendingReboot will honour that.

I assume there's a similar registry flag or value for domain (un)join and workgroup name change. If xComputerManagements sets it properly, we can say that xPendingReboot should/will support it in the futu

[2017-12-11 19:35] #116 closed

[2017-12-12 07:47] PlagueHO commented on #75
Oh right - well theoretically making the change is reasonably trivial then if you're not needing the change to xPendingReboot.

I still plan on working on xPendingReboot because it is really out of date and doesn't meet current standards, but if you don't specifically need xPendingReboot to respond to a domain (un)join then I don't see why we can't just add a `SupressRebootFlag` parameter to this

[2017-12-16 02:02] PlagueHO opened #122 "Move all message & exception strings for CommonResourceHelper Localization File"
**Details of the scenario you tried and the problem that is occurring:**
The message strings in the CommonResourceHelper module are within the module file and need to me moved to a strings file to meet HQRM.

**The DSC configuration that is using the resource (as detailed as possible):**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
N/A

**Version of the D

[2017-12-19 09:18] #122 closed

[2017-12-22 23:29] PlagueHO opened #125 "Convert xScheduledTask to HQRM and move strings to Localization File"
Work on issues:

- #94
- #80

[2017-12-23 01:01] PlagueHO opened #127 "Incorporate LanguageDsc Module into ComputerManagementDsc"
@ld0614 has proposed merging his [LanguageDsc](https://github.com/ld0614/LanguageDsc) module into this one instead of SystemLocaleDsc (which can then be deprecated). This will be done shortly after completing issue #119.

This issue is a placeholder to ensure clarity of the plan is available to the community. See https://github.com/PowerShell/DscResources/issues/288 for more information.

[2017-12-23 20:09] #121 closed

[2017-12-23 20:09] #125 closed

[2017-12-23 20:26] PlagueHO opened #128 "Convert to Wiki Based Documentation"

[2017-12-25 03:10] #44 closed

[2017-12-25 19:57] PlagueHO commented on #128
Duplicate of #83

[2017-12-25 19:57] #128 closed

[2017-12-25 19:57] PlagueHO commented on #80
This is now completed so closing.

[2017-12-25 19:57] #80 closed

[2017-12-25 19:58] PlagueHO commented on #94
I'll close this one once the Pester tests are at V4 (issue #106).

[2017-12-27 18:44] ttdgcp commented on #74
@PlagueHO Hey Daniel, I'm running into issues trying to use DSC and xScheduleTask to delete the "Xbox" scheduled tasks that Server 2016 creates... (I know, right?)... I was wondering if you have any cycles to take a look at the necessary changes to support deleting these tasks?

From what I'm able to glean, the ActionExecutable and ScheduleType parameters being required parameters is what is causi

[2017-12-28 05:43] #106 closed

[2017-12-28 05:44] PlagueHO commented on #94
This has been completed now.

[2017-12-28 05:44] #94 closed

[2017-12-28 05:46] PlagueHO commented on #74
Hi @ttdgcp - Now that I've finished updating this module to HQRM I'll begin working on the features like this one. I actually started this a little while back so I'll try and work on this one this weekend (as well as some stuff on WsManDsc).

[2017-12-30 17:26] jpuskar opened #130 "xScheduledTask: Cannot create task to run as NetworkService"
This logic would need changed such that if logontype is 'serviceaccount' and the password is null or empty, don't set the password.

[code]

Example resource which should work, but fails with a 'password is null' error due to the logic above.:
[code]

[2018-01-08 17:39] matt6697 commented on #74
@PlagueHO : Planning to rebuild my https://github.com/puppetlabs/puppetlabs-dsc fork with up to date powershell dsc modules (including sqlserverdsc update). When do you think you'll gonna be able to release the modifications required for scheduled task removal ? Fix needed for https://github.com/virtualdesktopdevops/xd7vda.

[2018-01-09 07:56] PlagueHO commented on #74
Hi @matt6697 - this is in progress but I haven't managed to finish it yet (still working on updating the tests and other fun stuff like that). I'm hoping to get some free time this week to complete it. Sorry about taking so long!

[2018-01-09 09:22] PlagueHO commented on #74
Nearly finished now. I have completed all the new tests required for this change. Just need to make the pass :wink: . Still aim to have this complete over the next couple of days.

Note: This change will be a breaking change because I'm going to have to remove some fields from the `Get-TargetResource` because of making some of the fields now optional. So a new major version of the resource module

[2018-01-09 20:14] matt6697 commented on #74
@PlagueHO : Hi Daniel, thanks for the update :-)

[2018-01-12 09:12] PlagueHO commented on #74
Almost there! Should have the PR submitted tomorrow. New integration tests completed and passing, but unit tests are still failing. Need to increase the unit test coverage on the new code I added.

[2018-01-12 14:45] seanbruck opened #131 "xComputer: JoinOU property failing to take PowerShell Expression"
OS:  Win 2012 R2
PowerShell on Node:  5.1
xComputer version:  3.1

Configuration below works except for the JoinOU.  It ignores the value of the registry path provided, and instead adds the computer object into the default container:  CN=Computers,DC=nfcu,DC=net

xComputer JoinDomain
        {
            Name       = 'localhost'
            DomainName = $StandardComputerDomain
            Credent

[2018-01-12 18:57] PlagueHO commented on #131
Hi @seanbruck!

Can you confirm that the TargetPathOU value of the registry path HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\OUInformation exists on the machine **compiling** the MOF? If this value is not set on the machine the MOF is compiled on it will be empty in the MOF and therefore the target node will not apply it.

But if this is not the case then I'll look into this further! Thanks fo

[2018-01-12 18:58] PlagueHO commented on #130
Great info @jpuskar - thanks for raising this! Should be enough for me to get onto fixing ASAP! Awesome stuff!

[2018-01-12 21:15] seanbruck commented on #131
Hi PlagueHO, we may have a chicken and egg.  This is Azure DSC, so the compilation is being done on the Azure host, prior to the endpoint node ever seeing the configuration.

[2018-01-13 02:55] PlagueHO commented on #131
Hi @seanbruck - ah, I see. So is there anywhere else you can get the path to the OU that you want the computer object to be created in? An automation variable of some kind?

[2018-01-14 20:00] #74 closed

[2018-01-14 20:02] PlagueHO commented on #83
I'm going to start work on this one and then after this one is complete I'll perform the rename to ComputerMangementDsc.

[2018-01-15 21:07] #83 closed

[2018-01-16 14:20] seanbruck commented on #131
Unfortunately no, the value of the OU is determined at runtime based on current configurations on the target node.  From what you're describing, the compilation job will always calculate the value of the reg key "too soon" when using Azure PowerShell DSC.

[2018-01-16 20:09] PlagueHO commented on #127
@ld0614 - I'm about to begin the renaming of this resource module over the ComputerManagementDsc, so are you still happy to contribute your module once that one is through?

[2018-01-16 21:19] ld0614 commented on #127
Yep, once the module has been renamed I'll submit an initial PR.  I'm expecting a number of improvements will be required to bring it up to fully HQRM compliant but I'm eager to kick the review process off 😄

[2018-01-22 16:29] GitBadSanta opened #134 "xScheduledTask: Set-ScheduleTask instead of UnRegister/Register"
We try to update schedule task through DSC with "Do not start new instance" setting and we are facing the following issue:

If the task is running, the unregister/register update will let an orphan process running and the new scheduled task will start even if the "Do not start new instance" is set, which is normal because the task has been re-created, but is not acceptable for an update mechanism.

[2018-01-24 05:27] PlagueHO commented on #131
Hi @seanbruck - so there is no way the OU can be set in the VM at the time of first boot to allow it to be consumed in the DSC compile process?

At what point is the HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\OUInformation TargetPathOU registry key set on the VM? Or is it never set at all?

[2018-01-24 13:32] GitBadSanta commented on #134
Hi,
A first increment on how this could be done :
https://github.com/GitBadSanta/xComputerManagement/commit/a5aba4bb31ba75c067cb87a0900b78e9b1a372ea

[2018-01-25 07:59] PlagueHO commented on #134
Ah I see @GitBadSanta - that is a good solution you've proposed there! I think we should definitely incorporate this. Do you know if this works on Windows Server 2012/R2 and Windows Server 2016? We might have to make some minor tweaks to ensure it works on both versions. So I'll see if I can do some work on this over the weekend. Or do you want to submit a PR for this (which we'd be grateful to ac

[2018-01-27 10:01] timhaintz commented on #119
@PlagueHO if we get StorageDsc sorted out, happy to do this one next.
Looks to be a couple of extra steps with incorporating SystemLocaleDsc, TimezoneDsc and LanguageDsc Modules. Happy to help out though.
Thanks, Tim.

[2018-01-27 17:25] ramon-garcia opened #136 "xComputer cannot join domain"
Under Windows 2016 server, domain join fails with a mysterious message of password not strong enough. Difficult to understand, since the password of a machine account is automatically generated.

The powershell command Add-Computer (echoed in the module with Write-Verbose and then ran by hand) works prefectly if ran under the Administrator account, but it appears to fail under the LocalSystem acco

[2018-01-27 18:33] PlagueHO commented on #119
Hi @timhaintz - would definitely appreciate the help! But I've actually already done this one - I'm just waiting till after the next resource kit release to merge it (as I wanted some bug fixes to go out to xComputerManagement before we rename it).

But I've got other ones that haven't been done if you want to have at it :grin: xCertificate and xDFS.

I'm working on xNetworking rename, but I want

[2018-01-27 18:35] PlagueHO commented on #136
Hi @ramon-garcia - are you able to paste a copy of the DSC config you're using in here (with sensitive info masked)?

[2018-01-27 22:27] ramon-garcia commented on #136
Names are fictional

$credential is entered interactively with
   $credential = Get-Credential
 during policy generation.

xComputer initial {
	Name = 'myhostname'
	DomainName = 'mydomain.mycompany'
	Credential = $credential
	WorkGroupName = $null
	JoinOU = 'OU=subpol2,OU=subpol1,OU=SomeServerType,OU=MyServers,DC=mydomain,DC=mycompany'
}

[2018-01-28 04:19] timhaintz commented on #119
Cool, no worries. Are xCertificate and xDFS good to go from an HQRM perspective? Will have a go at them this week. 👍 . Thanks.

[2018-01-28 05:20] PlagueHO commented on #119
Yep! xDFS and xCertificate are both HQRM already (the only one that I maintain that isn't HQRM is xNetworking because it has so many resources in it).

[2018-01-28 19:16] RobBiddle opened #137 "xScheduledTask can't disable default ScheduledDefrag task"
I'm using xComputerManagement 3.2.0.0, attempting to disable the default task **ScheduledDefrag**

I've tried populating all of the current values for the task, only changing **Enable** to $false and **ScheduleType** to 'Once'.

Here is the configuration and error thrown:

[code]

[2018-01-28 19:17] RobBiddle commented on #137
I initially tried using a minimal configuration, which also failed
[code]

[2018-01-28 19:18] RobBiddle commented on #137
I'm pretty sure it's because the task has no triggers.

[2018-01-28 19:33] RobBiddle commented on #137
For anyone else needing to do this, the workaround is a Script Resource, which actually took me less time to write then the definition for xScheduledTask, lol
[code]

[2018-01-28 20:25] PlagueHO commented on #137
Hi @RobBiddle - thanks for submitting this. I could be wrong, but I think this is a duplicate of https://github.com/PowerShell/xComputerManagement/issues/74. I just finished the fix for this a couple of weeks ago and it should go out to the resource kit in the next release. Here is the PR that contained the fix: https://github.com/PowerShell/xComputerManagement/pull/132

I'll leave this open for a

[2018-02-08 06:54] PlagueHO opened #140 "Master Branch AppVeyor badge links to SQLServerDsc"
The badge URL needs to be corrected.

[2018-02-08 07:07] PlagueHO commented on #137
Hi @RobBiddle - the new release of xComputerManagement went out today with the fix you need (hopefully). Could you give this a try and see if it solves the issue for you? Thanks!

[2018-02-08 20:13] #140 closed

[2018-02-12 12:33] adriandeller commented on #137
I've installed https://www.powershellgallery.com/packages/xComputerManagement/4.0.0.0 and still can not disable the built-in scheduled task "XblGameSaveTask".
`PowerShell DSC resource MSFT_xScheduledTask  failed to execute Test-TargetResource functionality with error message: Trigger type 'MSFT_TaskIdleTrigger'
not recognized.
Parameter name: CimClassName
    + CategoryInfo          : InvalidOpera

[2018-02-12 14:26] ketjap commented on #130
The same would apply if you use the BUILTIN\Administrators group.

[2018-02-13 21:02] matt6697 commented on #137
@PlagueHO : Hi Daniel, I installed 4.0.0.0 version to test the deletion of built-in scheduled tasks : it works well for tasks with known Trigger types and helps a lot for my Citrix VDA optimization [(https://github.com/virtualdesktopdevops/xd7vda)](https://github.com/virtualdesktopdevops/xd7vda)

However, it fails with the following error if the Trigger type is unknown : `PowerShell DSC resource M

[2018-02-15 18:29] matt6697 commented on #137
@PlagueHO : Hi Daniel, just created PR #142 to correct this issue. Could you have a look at it ? I don't know if one of the  pester tests has to be updated to reflect this new behavior (not throwing an error anymore). Cheers

[2018-02-16 19:27] PlagueHO opened #143 "xScheduledTask: Unit Test does not perform correct Test"
**Details of the scenario you tried and the problem that is occurring:**
The unit test `A built-in scheduled task exists and is enabled, but it should be disabled` at
https://github.com/PowerShell/xComputerManagement/blob/dev/Tests/Unit/MSFT_xScheduledTask.Tests.ps1#L150
is incorrect. It is testing if the task is enabled, not disabled.

[2018-02-16 19:31] PlagueHO commented on #137
Hi @matt6697 - sorry about the delay in getting to look at this! But I'm on it now. We don't actually have test coverage hitting this line, but it would be good to get a test for it so we don't regress at any point.

You probably just need a test like this:
[code]

[2018-02-20 05:45] PlagueHO commented on #130
I've been a bit (a lot) snowed under lately, but hopefully things will slow down by this weekend and I'll get some DSC work done. Again - sorry this has all been taking so long.

[2018-02-20 13:59] SwarfegaGit commented on #108
I don't see why this should be left open.  There isn't going to be a fix for this as these modules will not be back ported to Windows 2008 R2.  I don't believe even copying the modules from 2012 R2 to 2008 R2 will work as the modules are making API calls which simply don't exist in Windows 2008 R2.
The only answer is to update to a newer OS to get access to newer features.

I do agree though Micro

[2018-02-22 12:21] dronkoff commented on #108
To resolve this issue we have 2 options:

1. Document it and make is a "feature". (Document module and version dependencies on module level)
2. Implement it on Win2008. (There is no need to port 2012 modules to 2008, the resource can be implemented using COM interfaces)

Last stable release was published 2 weeks ago but none of the above options were implemented there.

[2018-02-23 04:36] shurick81 opened #144 "xScheduledTask: test is always false"
**Details of the scenario you tried and the problem that is occurring:**
Simply want to deploy 3 scheduled tasks.
I run Start-Dsc... and it works perfectly and creates scheduled tasks that work without issues.
However, when I run test, I receive False:
[code]
**The DSC configuration that is using the resource (as detailed as possible):**
[code]
**Version of the Operating System and PowerShell the

[2018-02-23 13:11] gabrielmccoll opened #145 "xScheduledTask keeps recreating and fails Get-DSCConfiguration"
**Details of the scenario you tried and the problem that is occurring:**

So I have two problems, which might just be me being dumb. Apologies I am not super well versed in DSC.
One problem is that the Scheduled Task continually gets recreated. So it creates it, and then 15 minutes rather than confirming it exists and leaving it alone, it just makes it again over the top of it.
This breaks the tas

[2018-02-23 16:49] gabrielmccoll commented on #145
Updated to 4.0.0 and now OK

[2018-02-23 16:49] #145 closed

[2018-03-02 20:18] PlagueHO commented on #108
If someone were to make a submission for a Windows Server 2008 R2 compatible version using the COM interfaces it would be gladly accepted. But I don't think this is likely to happen, so in the meantime @dronkoff 's option 1 I think is the way to go.

So I'll submit a PR for this.

[2018-03-05 01:58] #108 closed

[2018-03-05 02:03] PlagueHO commented on #108
I've added the requirements information to the README.MD. I'll close this issue for now, but someone wants to have a crack at implementing this on Windows Server 2008 R2 then we should definitely reopen this.

[2018-03-05 21:19] PlagueHO commented on #134
This one has now been fixed/merged. Thanks for your help @GitBadSanta !

[2018-03-05 21:19] #134 closed

[2018-03-06 18:19] PlagueHO opened #147 "xComputer Unit Tests fail If Run on Domain Joined Machine"
**Details of the scenario you tried and the problem that is occurring:**
When executing the unit tests for xComputer they fail:
[code]

**The DSC configuration that is using the resource (as detailed as possible):**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
Windows 10 AD domain joined

**Version of the DSC module you're using, or 'dev' if you're using

[2018-03-06 18:59] PlagueHO commented on #130
Unfortunately I can't resolve this issue without a change to DSC itself. There is a user voice issue open to enable blank passwords to be passed to a DSC Resource: https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/13447689-dsc-should-allow-credentials-with-blank-passwords

But there is no ETA on when this will be fixed.

[2018-03-06 19:23] PlagueHO commented on #130
There are two other possibilities of solving this problem (neither are ideal), but until this limitation in DSC is addressed then they should be considered:
1. Split the `ExecuteAsCredential` into two parameters: `ExecuteAsUsername` and `ExecuteAsPassword` and deprecate the `ExecuteAsCredential` parameter. This would be a breaking change to the resource, so would be nice to avoid.
2. Make the reso

[2018-03-06 19:44] PlagueHO commented on #144
Hi @shurick81 - to help me try and repl the issue, could you let me know they type of credential you're using for `$SPBatchCredential` (e.g. is it a domain cred, local Admin cred etc?)

Also, is it possible for you to try something for me? If possible could you modify the resource on your machine temporarily to allow it to output some more verbose logging?

If you're happy to try this could you op

[2018-03-06 19:52] johlju commented on #130
I would go for option 2 because it is not a breaking change (?) and it is easy to reverse without another breaking change when the limitation is resolved, which would not be the case with option 1.
Option 1 would be a breaking change and go against what you normally would expect to use to set credential (a credential object), and as said before, it would be a breaking change when reversing the cha

[2018-03-06 19:53] PlagueHO commented on #136
Hi @ramon-garcia - are you able to try using the `PsDscRunAsCredential` parameter to the resource to have it applied under the context of the Domain Admin to see if that resolves the issue? See this page for more info:
https://docs.microsoft.com/en-us/powershell/dsc/runasuser

[2018-03-09 04:50] FinickyCode opened #148 "xScheduledTask: daily triggers fall out of compliance each day"
It seems that scheduled tasks with a daily schedule get deleted and recreated every day, on the first DSC run after midnight. It appears to me that the date in the daily trigger is compared to the current date.

You can reproduce this by creating a task with a daily trigger, then manually change the date in the daily trigger, and Test-DscConfiguration will return False, setting the date back to th

[2018-03-09 07:52] shurick81 commented on #144
Hello @PlagueHO, thank you for helping me out. The credential is domain. I guess when I change MSFT_xScheduledTask.psm1 I should do it on target node, not on the one admin node where I run `Start-DscConfiguration`, is that correct?

[2018-03-09 14:48] PlagueHO commented on #144
Hi @shurick81 , that is correct. Thank you for helping me look into this one.

[2018-03-14 21:45] GamerLivingWill opened #149 "xScheduledTask - Throws an error if no ScheduleType is specified."
Hi there.  I'm attempting to create a scheduled task that will be called by another process.  The scheduled task is not to have an actual schedule for it.  When creating the scheduled task with DSC, I get the following error if no ScheduleType is specified.  However, if the ScheduleType is set, it creates the task just fine:

[code]

Resource Config
[code]

Server 2012 R2 Datacenter - PSVersion 5.

[2018-03-15 07:08] PlagueHO commented on #149
Hi @GamerLivingWill - it looks like we haven't implemented support for creating a scheduled task without a schedule type. It should be possible to implement this though. But it might take a little while unless someone else can pick it up.

[2018-03-15 21:27] GamerLivingWill commented on #149
No worries @PlagueHO .  I figured I'd bring it up because it's not an uncommon thing to have tasks without schedules to be triggered by something else.  I'm not very .NET code...ie...Or else I'd probably take it apart and do it myself.

Also scheduled tasks do a lot with XML it seems...no thank you. :)

[2018-03-27 09:49] VitaliHarbiankou commented on #148
Hi FinickyCode,

I've got the same issue. It looks like it takes StartTime ('23:30:00') and converts to the time of the current date, but when you apply your configuration, it compares the time with the time when the scheduled task was created. See my configuration and output when I apply the configuration next day:

xScheduledTask BackupSqlDbFull
        {
            DependsOn = '[xRemoteFile]Ba

[2018-03-28 07:11] PlagueHO commented on #148
Hi @FinickyCode and @VitaliHarbiankou - thanks for logging this and all the detailed info. I'm going to try and get some time this weekend (it's a long weekend here) to put into cleaning up some of these issues in xScheduledTask. Thanks for your patience on this one.

[2018-03-28 09:04] FinickyCode commented on #148
@VitaliHarbiankou you are right on the money, I can't believe I didn't think of that, thank you. I can't imagine that not solving my issue. I've updated all my configurations to have a StartTime with a fixed date and will see how it goes.

In terms of helping future users that might encounter this, can I suggest the following:

* Change the default StartTime from `[DateTime]::Today` to `[DateTime]

[2018-04-05 08:13] PlagueHO opened #152 "Set Optional Failure Flags for all PSSA Tests"
Add the following opt-in settings to enable CI failure on violation of these PSSA rule types:

- Common Tests - Required Script Analyzer Rules
- Common Tests - Flagged Script Analyzer Rules
- Common Tests - New Error-Level Script Analyzer Rules
- Common Tests - Custom Script Analyzer Rules

[2018-04-09 17:05] ryancbutler opened #153 "xScheduledTask space in taskpath causes failure"
Windows 10 Enterprise
xComputerManagement: 4.1.0.0

I'm trying to disable the below task but doesn't seem to like the space in the task path. Get the following error.  Any task without a space works just fine.
[code]
My configuration is as follows
[code]

[2018-04-13 12:23] Outek opened #154 "xComputer - Set KMS & Activate Windows"
Is there a Dsc Resource which allows me to set a KMS and activate a Server from it?

[2018-04-13 17:10] johlju commented on #154
Doesn’t seem to be one in this repository, and the only one I could find with a quick search was https://github.com/mkht/DSCR_MSLicense, maybe it can help you?

[2018-04-18 21:09] scott1138 commented on #144
@PlagueHO - I have the same issue.  When supplying a credential with the username in UPN or pre-UPN format it causes a failure.  Thanks for the heads up on the -verbose for troubleshooting.  Here is my relevant output with sensitive data altered:

[[xScheduledTask]Scheduled-Tasks-Informa-Extract] NOTMATCH: Value (type 'String') for property 'ExecuteAsCredential' does not match. Current state is 'U

[2018-04-20 02:17] MarkKharitonov opened #155 "xPowerPlan: Trying to use it on Windows 10 fails with no Activate method error"
Please, observe the following code:
[code]
It works on Windows Server 2012, but fails with no Activate method when ran on Windows 10. Amazingly it works on Windows 8.

Hence the xPowerPlan resource cannot be used on Windows 10.

[2018-04-27 06:31] #119 closed

[2018-05-03 13:46] mrkrch commented on #155
I can confirm.

However, the problem is not with PowerShell. Somewhere between 1703 to 1709, the Win32_PowerPlan class's "Activate" method was broken. It seemed to coincide with the new "Windows performance power slider" feature.

[2018-05-03 14:13] johlju commented on #155
As per previous comment I will label this as 'bug' and 'external'.

[2018-05-03 14:17] johlju commented on #153
Could you provide the verbose logs? It is easier to follow whats happening in the verbose logs.

[2018-05-03 14:25] johlju commented on #154
Basically you need a resource that can set the correct [KMS Client key](https://docs.microsoft.com/en-us/windows-server/get-started/kmsclientkeys) for a KMS client, if not using a media that is pre-pidded with the key already?

Labeling this as help wanted so someone in the community can run with this.

[2018-05-11 07:32] PlagueHO opened #157 "Move xTimeZone resource into ComputerManagementDsc"
As per several discussions it has been decided to move this resource into being part of ComputerManagementDsc as a resource called TimeZone. It will need to be converted to HQRM to meet the standards of ComputerManagementDsc.

See:
https://github.com/PowerShell/xTimeZone/issues/33
https://github.com/PowerShell/DscResources/issues/374

[2018-05-14 12:17] chrdionne commented on #155
I have same issue in Windows Server 1803.

[2018-05-23 09:15] r3dlin3 opened #161 "Computer: add parameter to define the domain controller when joining"
**Details of the scenario you tried and the problem that is occurring:**
It is not possible to define the domain controller a computer will use to join.
In some specific scenario (implying network filtering), it is mandatory to define the server.
The PowerShell cmdlet `Add-Computer` has a `server` parameter that can be leveraged.

**The DSC configuration that is using the resource (as detailed as

[2018-05-23 09:22] johlju commented on #161
Sounds like a good addition to the resource. Labeling this as help wanted so that anyone in the community can run with it.

[2018-05-25 16:23] jfletcher93 opened #163 "TimeZone not an available resource?"
The dsc resouce for TimeZone is not available since installing the module? any idea why this is?

[2018-05-25 16:39] johlju commented on #163
It was recently migrated into ComputerManagementDsc from xTimeZone. Around mid June there will be a new release of ComputerManagementDsc which will contain TimeZone. Until then you have to use xTimeZone or use the Dev-branch of ComputerManagementDsc.

[2018-05-29 14:56] jfletcher93 commented on #163
Ahh! I see, apologies was under the impression the current module contained it. Shall await the new release then! Thanks for your response!

[2018-06-04 03:27] scottmckenzie opened #164 "New release with TimeZone resource"
Can you please release a new version that includes the TimeZone resource?  The current version (5.0.0.0) does not include this resource.

[2018-06-04 05:47] johlju commented on #163
Reopening this, and we will close it as soon as we have release next release.

[2018-06-04 05:47] johlju commented on #164
Please see comment, https://github.com/PowerShell/ComputerManagementDsc/issues/163#issuecomment-392114288

Closing this, and tracking it in the other issue.

[2018-06-04 05:47] #164 closed

[2018-06-15 07:43] PlagueHO commented on #163
We have the next release so I'm closing this.

[2018-06-15 07:43] #163 closed

[2018-06-17 21:09] danielboth opened #167 "ScheduledTask: Add support to trigger on an event"
**Details of the scenario:**
A scheduled task can be setup to trigger on an event happening in an eventlog. Currently, the ScheduledTask DSC resource allows setting up triggers based on:

Once
Daily
Weekly
AtStartup
AtLogOn

It would be nice to add another ScheduledType here, which we could name "OnEvent" to allow scheduled tasks triggering on an event.

Under the hood, this will mean setting up a

[2018-06-18 05:39] johlju commented on #167
Sounds like a good enhancement. Are you seeing MSFT_TaskEventTrigger as a sub class to the MSFT_ScheduledTask class (a property in MSFT_ScheduledTask  using an embedded instance sub class) , or a separate resource?

[2018-06-18 09:41] jamesmealing commented on #79
This is still outstanding. Would it be possible for someone to add the "enhancement" label to this, to prevent it from auto-closing? (I might try and take a look at implementing this soon if I can...)

[2018-06-18 10:04] johlju commented on #79
@jamesmealing I have labeled it as enhancement.

/cc @PlagueHO

[2018-06-18 16:43] danielboth commented on #167
All the current triggers are embedded in this resource, so I think it makes sense to do the same for the OnEvent trigger here. So let's keep it in the ScheduledTask resource instead of creating a separate one.

[2018-06-19 09:03] PlagueHO commented on #167
Cool! This would be an awesome addition! 👍

[2018-06-27 18:28] briantist commented on #130
Ignoring the password might also allow it to work for (g)MSAs, which is currently doesn't. But in that case you can't use `BUILTIN` to determine that. LogonType also, confusingly, needs to be password for an MSA.

[2018-06-28 11:31] johlju commented on #130
I think (g)MSA is ending with `$`, so if a username match regex `'\$$'` then we could assume it's a (g)MSA. Unless we could use computer accounts, they end with '$' as well.

[2018-06-28 16:47] briantist commented on #130
@johlju true, though gMSAs are subclassed from computers anyway, so it would make sense to use the same rules for a computer or a gMSA, since their mechanism should basically be the same.

It's an odd use case to have a scheduled task on a machine run as a computer other than itself (which would be achieved with `SYSTEM` or `NETWORK SERVICE`) but still, in theory it should work the same way I thin

[2018-06-29 09:32] johlju commented on #130
Never tried running a schedule task as the computer account, but in theory I think you could assign permission using the computer account those allowing a job to access resources 🤔 But that must be an edge case.

[2018-07-02 06:31] PlagueHO commented on #130
Might be worth putting together a table of all possible username/password and how they should be treated? I'll see if I can put something together this week.

[2018-07-03 14:24] DevOpsBoondoggles opened #168 "xScheduledTask stop all running tasks at the end of repetition duration" ?"
**Details of the scenario you tried and the problem that is occurring:**
Might just be being thick but is there no way to change the setting "stop all running tasks at the end of repetition duration"

**The DSC configuration that is using the resource (as detailed as possible):**
xscheduledtask 4.0.0.0  (xcomputermanagement)
**Version of the Operating System and PowerShell the DSC Target Node is r

[2018-07-04 04:47] johlju commented on #168
It seems that nobody implemented `StopAtDurationEnd` yet. 🙂 I looks like an Boolean property should be added that is called `StopAtDurationEnd`, and for reference, it seems the property is on the trigger under *Repetition* (get the current value with `$trigger.Repetition.StopAtDurationEnd`). Referencing [Creating an idle trigger in PowerShell for Windows Task Scheduler](https://www.ctrl.blog/entry

[2018-07-04 04:50] johlju commented on #168
@gabrielmccoll There won't be any new releases for xComputerManagement, so this should be added to ComputerManagementDsc.

[2018-07-05 12:20] gabrielmccoll commented on #168
ahh thank you kindly , I didn't realise this was kaput. Guess I should update everywhere .   Sadly I don't think I've got the skills to do this. Though if someone gives me pointers I'm happy to bash in and see

[2018-07-06 09:47] johlju commented on #168
This resource seems a bit complex at first, but I would follow another similar property `RepeatInterval` to see how it works, and then make the new property work similar.

https://github.com/PowerShell/ComputerManagementDsc/blob/12f3a7e72dc8500c5ca529d384bb664a3e6fb50f/Modules/ComputerManagementDsc/DSCResources/MSFT_ScheduledTask/MSFT_ScheduledTask.psm1#L481-L486

But it is a bit of work adding un

[2018-07-11 07:04] danielboth commented on #167
Hi @PlagueHO, I created PR #169 to implement this, it's waiting on a review, would be great if you have some time for that.

[2018-07-13 22:06] MatthewGM commented on #130
xWebAdministration's xWebAppPool also has this issue with gMSAs.  It would be good (IMO) if both modules handled special accounts in the same manner.
xWebAppPool has a field for identityType to handle ApplicationPoolIdentity, LocalService, LocalSystem, NetworkService, and SpecificUser

See https://github.com/PowerShell/xWebAdministration/issues/80 for the gMSA issue

[2018-07-18 19:30] PlagueHO opened #170 "Add Guidance on what Sort of Resources should be included in ComputerManagementDsc"
Great suggestion from community call- add a short section to the README.MD on what resources should/should not be included in ComputerManagementDsc.

[2018-07-20 13:02] johlju opened #171 "PowerPlan: Add a read-only property IsActive"
**Details of the scenario you tried and the problem that is occurring:**
Suggest we add a read-only property `IsActive` to the resource PowerPlan, and set that to `$plan.isActive` instead of setting the `$Name` to `$null` in `Get-TargetResource` if the plan is not the active plan.

https://github.com/PowerShell/ComputerManagementDsc/blob/c0a60754c2ec537f1668e4a3cf6ca7423a8c9a2c/Modules/ComputerMan

[2018-07-22 04:12] #167 closed

[2018-07-24 09:53] #161 closed

[2018-07-24 18:06] danielboth commented on #111
Hi @PlagueHO, is there any progress on this part? Looking at this, this should be rather easy to implement. A gMSA uses the LogonType Password, what we could do is check if the account provided in the ExecuteAsCredential is a gMSA account (ends with dollar sign). Next we can change the code here to not set the password for gMSA accounts:

https://github.com/PowerShell/ComputerManagementDsc/blob/55

[2018-07-25 10:07] PlagueHO commented on #111
Hi @danielboth - this does look like it'll work. But you're right, I don't think there is a way to integration test this because of a gMSA only working on a domain joined machine. I've never found a solution to this, so it is acceptable. If you're up for submitting a PR that would be awesome - I'm a bit snowed under at the moment and trying to get through my backlog of DSC Resource kit work :grin:

[2018-07-26 10:36] grpowershell opened #173 "ScheduledTask: Using ScheduledTask resource to create task that recurs once every month on the 1st?"
So I want to have DSC create a scheduled task on a target computer where the task recurs every month on a certain date (in my case, the 1st of the month) but it doesn't appear possible to specify a date for a task to start.

Any feedback/insight would be appreciated.

[2018-07-26 12:08] grpowershell commented on #173
Now obviously a way around this is to create a schedule task that runs every day that runs a script that works out if it's the 1st of the month and then executes whatever you want it to execute. Perfectly possible but I would have thought given that a standard Windows scheduled task has monthly functionality that it should be incorporated in to this DSC resource.

[2018-07-26 22:50] #153 closed

[2018-07-26 22:50] #131 closed

[2018-07-30 12:07] johlju commented on #173
If you can create what you looking for with `New-ScheduledTaskTrigger` cmdlet then we could match that with the parameters available, and see if there are any functionality that is missing.

[2018-08-18 07:08] PlagueHO opened #175 "Update Pull Request and Issue Templates Copied from xPSDesiredStateConfiguration"
Copy the files:
[code]

From:
https://github.com/PowerShell/xPSDesiredStateConfiguration/pull/438

[2018-08-21 00:10] djwork commented on #130
Maybe the solution should bring ScheduledTask resource into alignment with the [Service](https://github.com/PowerShell/PSDscResources#service) resource which has a separate property BuiltInAccount?

_Service
  [String] BuiltInAccount (Write): Indicates the sign-in account to use for the service. { LocalService | LocalSystem | NetworkService }._

[2018-08-22 19:08] OffColour opened #177 "Timezone: Wiki"
I made some changes to the Wiki earlier to reflect that Timezone is now included.
I've now just seen in a PR that the Wiki is auto-generated. As Timezone was added three months ago, is it missing the necessary documentation or was the push to the Wiki not competed after the last build?

[2018-08-23 07:48] PlagueHO commented on #177
Hi There @OffColour - thank you for picking this up and reporting it. I've updated the documentation from the last push to master (https://ci.appveyor.com/project/PowerShell/computermanagementdsc/build/1.9.73.0/artifacts). We've been planning to automate this process, but haven't had time to complete it yet.

I'll close this issue now.

[2018-08-23 07:48] #177 closed

[2018-08-23 09:01] #175 closed

[2018-09-11 17:57] inghak commented on #144
We have the same issue:

[[xScheduledTask]xScheduledTaskWash] NOTMATCH: PSCredential username mismatch. Current state is  and desired state is yolo\\Yolo_App_ScheduleTask"},
[[xScheduledTask]xScheduledTaskWash] NOTMATCH: PSCredential username mismatch. Current state is Dev_App_ScheduleTask and desired state is yolo\\Yolo_App_ScheduleTask"},
[[xScheduledTask]xScheduledTaskWash] NOTMATCH: Type misma

[2018-09-20 02:20] johnm1191 opened #183 "ScheduledTask RepetitionDuration 1 day or 24:00:00"
I was attempting to create tasks with a duration of 24:00:00 but while the configuration compiles, it is output to task scheduler as 24.00:00:00, or 24 days. Is this the intended functionality of the TimeSpan conversion? Is there a plan to support custom values like '1 day' similar to indefinitely?

This is running on a 2012 R2 Datacenter machine running PowerShell version 5.1 and ComputerManageme

[2018-09-21 15:02] johlju commented on #183
Maybe `24:00:00` doesn't work, maybe it needs to be `'23:59:59'`. since `00:00:00` probably indicate midnight?
Maybe you can write `'1.00:00:00'` for one day?

I'm guessing here. 🙂

[2018-09-25 08:48] #111 closed

[2018-09-26 07:05] johlju opened #184 "WmiNamespaceSecurity: New resource proposal"
### Description
I suggest the resource [WmiNamespaceSecurity](https://github.com/PowerShell/WmiNamespaceSecurityDsc#wminamespacesecurity) is migrated to ComputerManagementDsc. That would deprecate the module [WmiNamespaceSecurityDsc](https://github.com/PowerShell/WmiNamespaceSecurityDsc).

Also opened issue https://github.com/PowerShell/WmiNamespaceSecurityDsc/issues/7 to track this.

### Proposed

[2018-09-30 23:26] djwork opened #186 "ScheduledTask: IdleWaitTimeout returned from Get-TargetResource always null"
Background: Working on a fork to implement run as NETWORK SERVICE and I was getting Test-TargetResource invalidly returning false. Traced it to this issue among others.

The bug is caused by the following line in Get-TargetResource:
`IdleWaitTimeout                 = ConvertTo-TimeSpanStringFromScheduledTaskString -TimeSpan $settings.IdleSettings.IdleWaitTimeout`
The problem is IdleSettings object

[2018-10-01 00:59] djwork commented on #130
See my pull request
https://github.com/PowerShell/ComputerManagementDsc/pull/187

[2018-10-01 00:59] djwork commented on #186
See my pull request:
https://github.com/PowerShell/ComputerManagementDsc/pull/187

[2018-10-01 06:04] PlagueHO commented on #186
Thank you @djwork - look forward to merging this. Will review once the merge conflicts are sorted.

[2018-10-01 09:55] djwork commented on #186
@PlagueHO I rebased off of the dev branch, not sure if I did it correctly, I am a git novice

[2018-10-02 08:13] #109 closed

[2018-10-02 08:17] PlagueHO opened #188 "Refactor Repository Folder Structure so Harness not Required"
See https://github.com/PowerShell/DscResource.Tests/issues/225

[2018-10-02 08:18] PlagueHO opened #189 "Add .VSCode Settings for PSScriptAnalyzer Rules"
See https://github.com/PowerShell/DscResources/pull/424

[2018-10-02 09:18] #189 closed

[2018-10-02 21:18] djwork opened #191 "ScheduledTask: Should the user defaulting to "System" if the ExecuteAsCredential property is null be changed?"
Hi Everyone
                   As part of working on implementing BuiltInAccount in my fork, I noticed the default behavior of the ScheduledTask DSCR is to default the user running the task to System if the ExecuteAsCredential property is null. My security team is always on developers to avoid running services or tasks as System unless absolutely required.

How about defaulting to "NT AUTHORITY\Lo

[2018-10-03 23:27] djwork commented on #186
New pull request:
https://github.com/PowerShell/ComputerManagementDsc/pull/192

[2018-10-03 23:27] djwork commented on #130
New pull request:
https://github.com/PowerShell/ComputerManagementDsc/pull/192

[2018-10-04 20:13] djwork commented on #130
Verbose Change Log for pull request, putting it here so there is a record of the design decisions when implementing fix.

Added BuiltInAccount Property to allow running task as one of the build in service accounts
    Used for running the Scheduled Task as one of the built in service accounts.
    Valid Values: 'SYSTEM', 'LOCAL SERVICE', 'NETWORK SERVICE'.
    If set ExecuteAsCredential will be ig

[2018-10-08 13:05] #173 closed

[2018-10-11 06:02] #171 closed

[2018-10-12 04:56] PlagueHO commented on #191
This does sound like a good idea, but would definitely be a breaking change and would definitely affect a lot of users. It is worth considering though. @johlju ?

[2018-10-12 13:18] johlju commented on #191
I understand this, and I'm all for low privilege thinking. Although, this will be a breaking change which a lot of user might not realize when things go wrong (badly). If they expect that a configuration creates a schedule task as SYSTEM, and when they rebuild the system using the configuration "tomorrow", a job that runs rarely might start breaking.
My thinking is that if an organization that are

[2018-10-12 13:20] johlju commented on #191
Labeled this issue as breaking change, just for everyone to know that it is a breaking change, regardless if this will be resolved or not. 🙂

[2018-10-15 06:18] djwork commented on #191
With the above in mind may be the less nasty surprise would be to not default the user to anything, instead throw an exception if the users has not defined as one of the following; ExecuteAsCredential,  BuiltInAccount or ExecuteAsGMSA.

Migrating users who want the original behavior can set BuiltInAccount = 'SYSTEM'

[2018-10-31 10:21] timhaintz opened #197 "Update LICENSE file to match the Microsoft Open Source Team standard."
In new repositories that are created by the Microsoft Open Source Team, the LICENSE file does not contain the year in the copyright "header".

LICENSE file is as below, indentation included.

[code]

[2018-11-14 11:40] andikrueger opened #199 "Computer: Error: MSFT_Computer.psm1 is not digitally signed"
#### Details of the scenario you tried and the problem that is occurring
Currently I'm using an ARM Template to create new Windows 10 virtual machines in Azure and added the PowerShell DSC extensio so that I can configure the newly created Windows 10 machine properly. This configuration requires to join the computer to the domain.

The compilation of the DSC configuration fails with the following

[2018-11-30 18:51] #183 closed

[2018-12-14 18:58] andikrueger commented on #199
The problem is still there.

[2018-12-15 06:18] PlagueHO commented on #199
Hi @andikrueger - this is because the default script execution policy for Windows 10 in Azure is 'Remote Signed'. This prevents downloaded resource modules from running on the VM.

Unfortunately the DSC resource kit modules are not digitally signed when released.

Therefore the solution to this is to change the execution policy to 'unrestricted' on the VM before the DSC extension applies. You migh

[2018-12-15 07:40] andikrueger commented on #199
@PlagueHO thank you so much for the feedback. I already use a custom script extension to set the ExecutionPolicy. Honestly, I do not like the fact, that I will have to change a security feature to join a computer to a domain.

I will raise this issue at the DscResources Repo.

[2018-12-15 07:50] PlagueHO commented on #199
I agree. The Azure DSC extension should ensure this is set up correctly. I think it is fine in Azure Windows Server 2012/2016/2019 VMs, but this might be something to do with being a desktop OS. However it could also be to do with PowerShell Constrained Language Mode being enabled on the Windows 10 VM (I've really not done too much digging on this and so it is just a guess).

I'll continue to try

[2018-12-24 10:55] #191 closed

[2018-12-28 14:59] popovmindbox opened #200 "ScheduleTask doesn't work properly with domain credentials"
If you use domain credentials with login like  `domain\username` or `username@domain`, **Test-DSCConfiguration** will say that this resources not in desired state, because, as I understand, `$task.Principal.UserId` which is used in **Get-DSCConfiguration** give you only username, without any domain specification.

[2018-12-28 20:44] PlagueHO commented on #200
Thank you for reporting this @popovmindbox . This should be an easy enough fix.

[2019-01-09 23:21] #197 closed

[2019-01-10 06:32] PlagueHO commented on #197
This was completed in #198 anyway.

[2019-01-12 17:21] J0F3 commented on #59
I finally got some time to look into that again. Just made a PR with changes to accept a name or a Guid as value for the Name parameter.
Furthermore as I noticed that the resource works on Windows Server 2019 not correctly besause of the absent "Activate" method on the WMI class I changes it to use powercfg.exe instead the WMI methods. This would then also fix Issue #155 and #65 (even though the l

[2019-01-12 18:59] marcinbojko commented on #59
That would be great, as I've noticed that's one of not many resources not working properly on 2019.

[2019-01-12 19:56] PlagueHO commented on #59
Hi @marcinbojko - can you put any info in here about what you're seeing on 2019 so that we can make sure there are some integration tests that will cover/validate the new version that @J0F3 is working on resolves it?

I've only just moved my lab over to WS2019 so haven't had a chance to start validating on it (and AppVeyor doesn't provide it).

[2019-01-13 12:44] marcinbojko commented on #59
Of course. My resource for setting 'high power' is here: https://gist.github.com/marcinbojko/4de797ff36d66e4b7b6c6a6ddef77284
as I am using puppetlabs-dsc for everything.

The reponse is:
[code]

[2019-01-13 13:40] J0F3 commented on #59
Yea, it is exactly what I also notices on Windows Server 2019 with the PowerPlan resource.  Actually it is the same as issue #155. Meaning the 'Activate' method is somehow not there anymore...

[2019-01-14 04:11] PlagueHO commented on #59
I actually wonder if this is a bug. Might raise it with the Windows Server team to see if it was intentional and what the new method should be for setting this stuff.

[2019-01-28 12:58] GenesisCoast opened #204 "ScheduledTask: The task XML contains a value which is incorrectly formatted or out of range.\r\n\n(43,25):Interval:PT10S"
Hi, When I try and use the ScheduledTask resource in my configuration I keep getting the following error through my Azure Automation account; when I use ComputerManagementDSC version 5.0.0.0.

My configuration is as follows:

[code]

Can anyone spot an issue in my configuration? It should run daily at 2am.

Full error message:

[code]

[2019-01-28 18:36] PlagueHO commented on #204
Hi @GenesisCoast - that does look ok to me. I'll give this a try on one of my machines (non Azure) in the weekend and see what I get (I'm travelling this week for work so might not get a chance before the weekend).

[2019-01-28 21:08] GenesisCoast commented on #204
This can be closed now I managed to fix the configuration by removing the RestartInterval and ExecutionTimeLimit Properties.

'''powershell
Configuration Deploy {
    Import-DscResource -ModuleName 'PSDesiredStateConfiguration' # No Version to be Specified
    Import-DscResource -ModuleName 'xPSDesiredStateConfiguration' -ModuleVersion '7.0.0.0'
    Import-DscResource -ModuleName 'ComputerManageme

[2019-01-29 20:28] johlju opened #205 "PowerShellModule: New resource proposal"
### Description
A resource that can install and uninstall a PowerShell module.

I initially thought of this module to be dedicated to install the SqlServer PowerShell module from PowerShell Gallery (see issue https://github.com/PowerShell/SqlServerDsc/issues/540). But after thinking about this now, I thought this might be useful in other scenarios.

### Proposed properties
[code]

### Special cons

[2019-01-30 08:52] PlagueHO commented on #205
Isn't there already a module for this hosted as part of the PowerShellGet repo? https://github.com/PowerShell/PowerShellGet/tree/development/PowerShellGet/DSCResources/MSFT_PSModule

It isn't quite up to the standards of the resource kit though.

So it might be still worth building a better one?

[2019-01-30 16:46] johlju commented on #205
I did not know that there was plans to add resources to that module! It was added very recently too. Feels wrong to invent the wheel again, might be better to extend that resource in the PowerShellGet repo with proper tests, but looking at the appveyor.yml that could be tricky since PowerShellGet is tested on a couple of different WMF versions (and PS Core). Adding our test framework should be pos

[2019-02-03 10:59] johlju commented on #205
I fixed tests using DscResource.Tests test framework and pushed them to PR https://github.com/PowerShell/PowerShellGet/pull/413. I will push integration tests shortly.

If the module is not published with PowerShellGet, we can just move the entire thing here and build from there. 🤔

[2019-02-07 09:13] PlagueHO commented on #205
@johlju - Shall we close this one one that your awesome improvements have gone into PowerShellGet? :grin:

[2019-02-07 09:42] johlju commented on #205
Yes, I think we can. :smile: If for any reason that module is not released we can reopen this. :)

[2019-02-07 09:42] #205 closed

[2019-02-16 22:32] PlagueHO opened #206 "Update Examples to format required for Publishing to PSGallery"
Update Examples to format required for Publishing to PSGallery, but don't yet enable publishing as I want to complete #188  first.

[2019-03-04 07:09] #206 closed

[2019-03-09 20:19] #204 closed

[2019-03-09 20:19] PlagueHO commented on #204
Closed because resolved.

[2019-03-09 20:23] PlagueHO commented on #184
It looks like there is no maintainer on this resource.

Have we ever combined Class based and MOF resources together before? I'd be happy to give this a try once I've moved this resource away from the harness model (to be done soon).

[2019-03-09 20:42] johlju commented on #184
Not that I know of, but we were just discussing it here :)

https://github.com/PowerShell/DscResource.Template/issues/11

[2019-03-28 21:08] #59 closed

[2019-03-28 21:08] #155 closed

[2019-03-28 21:08] #65 closed

[2019-03-29 21:10] PlagueHO commented on #188
Beginning work on this one now

[2019-03-30 06:37] PlagueHO opened #209 "Fix PSSA Custom Rule Violations and Opt-in to PSSA Custom Rule checks"
Fix the following PSSA violations: https://ci.appveyor.com/project/PowerShell/ComputerManagementDsc/branch/dev?fullLog=true#L4388

Opt-in to  "Common Tests - Custom Script Analyzer Rules".

[2019-03-30 18:59] #152 closed

[2019-03-30 18:59] #209 closed

[2019-04-03 22:30] djwork opened #213 "ComputerManagementDsc Nuget Spec during testing"
As part developing the fix issue #130 I have been running the appveyor build/unit test for my fork. When appveyor runs it generates a sample nuget file. I loaded the file into an internal repository where I store development modules and then tried to install the module via the PackageManagement cmdlets.

But PackageManagement did not recognize the nuget file as a valid PS Module, when comparing th

[2019-04-04 07:33] PlagueHO commented on #213
Thanks for raising this @djwork . The release process that the DSC team uses when they releases the modules to the PS Gallery is actually a different process and doesn't use the Nuget package produced as part of the AppVeyor build.

That said, the Nuget Package that is produced should still match what is produced by the DSC team and should still be a valid package.

This package is actually produc

[2019-04-04 20:28] djwork commented on #213
@PlagueHO
Little bit confused, I can see reference to "DscResource.Tests\AppVeyor.psm1" in ComputerManagementDsc's appveyor.yml
`Import-Module "$env:APPVEYOR_BUILD_FOLDER\DscResource.Tests\AppVeyor.psm1"`

So are you saying:

1. I should raise an issue on PowerShell/DscResource.Tests asking them to make changes to the generation of nuget packages via AppVeyor?
2. Or PowerShell/DscResource.Tests ca

[2019-04-05 06:22] PlagueHO commented on #213
The first one. I'm a maintainer over there so I can take a look at the issue and see if I can sort it out (when I have the time) or one of the other maintainers might take a look.

But essentially, all the CI code is inside the AppVeyor.psm1 over there, so anything that occurs in AppVeyor is controlled by that repo - which is why raising the issue over there makes the most sense.

[2019-04-05 14:34] chrisshearing commented on #153
Hi,

I'm also having this issue - noticed it with the same built-in windows task,

I'm using ComputerManagementDsc  6.3.0.0

The output from the command is as follows:

`
PS C:\WINDOWS\system32> configuration DisableService {

    Directory: C:\WINDOWS\system32\DisableService

Mode                LastWriteTime         Length Name
----                -------------         ------ ----
-a----       0

[2019-04-05 15:00] chrisshearing commented on #153
It looks like the following function is called in the module DSCResources/MSFT_ScheduledTask/MSFT_ScheduledTask.psm1

[code]

The error is generated by the line

[code]

I can get it to repeat the error straight in powershell by running the commands manually.

I'm wondering if this function is a legacy fix of some sort? As Disable-ScheduledTask exists as a function already

https://docs.microsoft.

[2019-04-05 15:12] chrisshearing commented on #153
Actually, it seems to straight up work with the Disable-ScheduledTask function, without piping from a Get, I must have had a syntax error when I was testing.

[code]

This is the exact same format as the helper function in DSCResources/MSFT_ScheduledTask/MSFT_ScheduledTask.psm1:953

[code]

So I tried just deleting the Disable-ScheduledTask function present in that file, and it used the built in P

[2019-04-08 19:08] djwork commented on #186
The fix has been merged into the dev branch and is awaiting release

[2019-04-08 19:08] #186 closed

[2019-04-08 19:14] djwork commented on #130
@PlagueHO Can we closes this now the fix is merged into dev?

[2019-04-08 19:19] PlagueHO commented on #130
Yep. Good point. Thank you for your hard work!!

[2019-04-08 19:19] #130 closed

[2019-04-08 19:21] djwork commented on #213
Moved to [DscResource.Tests #318](https://github.com/PowerShell/DscResource.Tests/issues/318)

[2019-04-08 19:21] #213 closed

[2019-04-13 10:45] johlju opened #215 "SmbShare: If the Share exists but with the wrong Path, the resource does not update the path"
#### Details of the scenario you tried and the problem that is occurring
*This originated from https://github.com/PowerShell/xSmbShare/issues/10 and was moved here when the module xSmbShare was deprecated.*

If the Share exists and the Path is not consistent with the desired state, the resource does not update the path.

#### Verbose logs showing the problem
Not available.

#### Suggested solution

[2019-04-13 20:58] #188 closed

[2019-05-03 22:12] PlagueHO opened #217 "Opt-In to Common Tests - Validating Localization"
There are new 'Common Tests - Validating Localization' in DSCResource.Helpers.

Opt-in to these tests and resolve any issues.

[2019-05-04 05:37] johlju opened #218 "Combine ComputerManagementDsc.ResourceHelpers into ComputerManagementDsc.Common"
There is no point in having two modules providing "common" functions for use in the resources as both are usually loaded. So combine them into a single module.

[2019-05-04 05:40] johlju opened #219 "PowerShellExecutionPolicy: Should not be using SupportsShouldProcess"
Resource should not be using `SupportsShouldProcess` as DSC resource cannot support that since it is not run interactively.

[2019-06-06 13:46] X-Guardian opened #221 "xComputer: Error When Joining a Domain and Renaming a Computer when JoinOU is specified"
#### Details of the scenario you tried and the problem that is occurring

When applying an `xComputer` resource that requires the computer to be renamed and join a domain concurrently, the following error is thrown: `The directory service is busy`.

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue

This is a problem with the `Add-Computer` cmdlet that is being us

[2019-06-20 11:03] X-Guardian commented on #221
Here is a clixml export of the error object: [DomainJoinBusyError.txt](https://github.com/PowerShell/ComputerManagementDsc/files/3310075/DomainJoinBusyError.txt)

[2019-06-20 11:05] X-Guardian commented on #221
Here is a clixml export of the error produced: [DomainJoinBusyError.clixml.txt](https://github.com/PowerShell/ComputerManagementDsc/files/3310090/DomainJoinBusyError.clixml.txt)

[2019-06-23 10:44] X-Guardian opened #224 "RemoteDesktopAdmin: New resource proposal"
### Description

There is currently a separate DSC module [xRemoteDesktopAdmin](https://github.com/PowerShell/xRemoteDesktopAdmin) which contains a single resource for configuring 'Remote Desktop for Administration' on a Windows server, along with the RDP Authentication security. The resource code for this hasn't been touched for 4 years and has outstanding bugs, and also needs making `SingleInsta

[2019-06-23 11:01] johlju opened #225 "SmbShare: Set-TargetResource will always set all properties"
#### Details of the scenario you tried and the problem that is occurring
The `Set-TargetResource` function will always set all properties regardless if a property is already in desired state.

*This is to track a review comment made in PR #211.*

#### Verbose logs showing the problem
Not available

#### Suggested solution to the issue
Add a helper function, preferably the pattern started in xActiv

[2019-06-23 11:22] johlju opened #226 "SmbShare: Remove duplicate code"
#### Details of the scenario you tried and the problem that is occurring
The helper function `Add-SmbShareAccessPermission` is using duplicated code blocks. We should make the code simpler and reduce code management by removing the duplicated code.

**Duplicated code blocks:**
[code]
#### Verbose logs showing the problem
Not applicable

#### Suggested solution to the issue
Add a new helper functio

[2019-06-24 07:59] PlagueHO commented on #224
Hi @X-Guardian - sounds like a good idea. I'm in agreement that bringing it into this module makes sense - especially if you've done the HQRM work already.

[2019-06-24 10:29] X-Guardian commented on #224
Cheers @PlagueHO, I'll raise a PR for this.

[2019-06-25 15:52] EDockus commented on #137
I've had a very similar issue. Created a PR that has fixed it for me - https://github.com/PowerShell/ComputerManagementDsc/pull/228

[2019-06-27 06:46] #221 closed

[2019-07-04 07:25] johlju opened #229 "WindowsEventLog: Evaluation of event log differ"
The existence of the event log name is evaluated twice in this code, this is redundant and should be only evaluated once. Also, the two evaluation differ in that one uses `-like` and the other uses `-eq`, this should probably only be either one, not both.

https://github.com/PowerShell/ComputerManagementDsc/blob/75152fc76595b7c36ce6e18439d7488a2df0c0d0/DSCResources/MSFT_WindowsEventLog/MSFT_Window

[2019-07-05 07:11] #217 closed

[2019-07-05 07:11] #218 closed

[2019-07-05 07:11] #219 closed

[2019-07-09 20:55] ShawnHardwick opened #230 "ScheduledTask: Delay Property Not Set for non-OnEvent Type Triggers"
#### Details of the scenario you tried and the problem that is occurring
When using the delay property for any schedule type other than OnEvent, the property is never set in the scheduled task. This causes the test to always fail and the set to always run.

[code]

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
Move the below line in the ScheduledTask resource i

[2019-07-09 21:01] ShawnHardwick opened #231 "ScheduledTask: Unable to enter Debug Mode"
#### Details of the scenario you tried and the problem that is occurring
Enabling DSC debug with `Enable-DSCDebug -BreakAll` and then running the ScheduledTask resource returns an error:

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
See the below issue for the same problem in a different DSC module:
https://github.com/PowerShell/SqlServerDsc/issues/448

#### T

[2019-07-10 07:57] PlagueHO commented on #231
Thanks for raising this @ShawnHardwick.

Are you able to share the DSC Config you're using (with specifics redacted)? @johlju - do you recall what the exact cause of this problem was over in SqlServerDsc?

[2019-07-10 07:59] PlagueHO commented on #230
Thanks for raising this @ShawnHardwick - looks like a straight forward fix. Happy to accept a PR or will try and get onto it this weekend.

[2019-07-10 11:41] johlju commented on #231
In the SqlServerDsc case it was a parameter that set a default value from another parameter

[code]

[2019-07-10 11:43] johlju commented on #231
Maybe it fails on this?

https://github.com/PowerShell/ComputerManagementDsc/blob/0b394479d03f2594476b123c3762b7ebee03334b/DSCResources/MSFT_ScheduledTask/MSFT_ScheduledTask.psm1#L787

[2019-07-10 13:12] ShawnHardwick commented on #231
@PlagueHO

I actually use Puppet to call DSC so I'll provide what Puppet calls and what I call directly to debug the code.

[code]

[2019-07-10 15:13] johlju commented on #231
@ShawnHardwick to just rule this out. In these locations can you remove the `= [System.DateTime]::Today` from all three locations.

https://github.com/PowerShell/ComputerManagementDsc/blob/0b394479d03f2594476b123c3762b7ebee03334b/DSCResources/MSFT_ScheduledTask/MSFT_ScheduledTask.psm1#L262

https://github.com/PowerShell/ComputerManagementDsc/blob/0b394479d03f2594476b123c3762b7ebee03334b/DSCResourc

[2019-07-10 15:58] ShawnHardwick commented on #231
That appears to have fixed it. I can use `Enable-DSCDebug -BreakAll` to open a debugger in DSC now with the ScheduledTask resource.

[2019-07-10 19:31] PlagueHO commented on #231
Thanks @johlju - great info. I'll look at incorporating changes into the resource over the weekend.

@ShawnHardwick , in answer to your question, I very rarely use DSC debugging, generally relying on unit tests/integration tests. I try to use a red-green refactor (TDD) approach when writing resources. This doesn't eliminate the need for debugging, but does make it a rare enough occurrence.

I'm no

[2019-07-28 02:02] Get-Ryan opened #233 "VirtualMemory: $pageFileName in Set-Resource block ends up null via Join-Path when setting new page file"
#### Details of the scenario you tried and the problem that is occurring
Hello, please forgive any missteps of mine in common practices around contributing to open source projects. I read through the contributing guidelines, but this is still my first time.

I'm trying to put together a short DSC config to be able to change the drive letter of the temporary storage drive attached to Azure VMs when

[2019-07-28 07:51] PlagueHO commented on #233
Hi @Get-Ryan - thank you for raising this! That is really odd that the `Join-Path` isn't working where the string concatenation is. Is the `$driveInfo` object `null` as this would explain the behavior: You can concatenate a string to a null, but Join-Path doesn't allow that.

[2019-07-28 13:13] Get-Ryan commented on #233
No, the $driveInfo object populates normally, as that was my initial thought as well. And that would have continued to be an issue even with string concatenation, as I have found the New-PageFile line is critical to the overall success. Without it, the VM enters a strange reboot-loop at the end.

This is why I'm at a loss. All the elements of the Join-Path call seem proper. I even validated the $d

[2019-07-30 06:25] PlagueHO commented on #233
That is really strange. We could make a change to use the concatenation method for the path, but I'm always a bit uncomfortable working around a problem like this- e.g. we risk introducing other bugs/issues.

What is also odd, is that I'd expect this line to fail if `$driveInfo` was `$null` as well: https://github.com/PowerShell/ComputerManagementDsc/blob/dev/DSCResources/MSFT_VirtualMemory/MSFT_V

[2019-07-30 12:19] Get-Ryan commented on #233
When I was initially testing, I was inserting numerous verbose messages in the code to test various variables and their properties. The $driveInfo does populate with the correct type and the name property contains the proper drive letter. If it didn't, my proposed concatenation line would also not have worked. Again, hence why I was confused. There is no obvious reason I can see why the Join-Path

[2019-08-07 03:23] jlongo62 opened #234 "Support Options parameter when joining a computer to a domain"
ISSUE TITLE:
Computer: add Options parameter when joining a computer to a domain.

    ISSUE DESCRIPTION:
Computer does not support the Options parameter of the underlying Add-Computer PS command. Add Options parameter implemented as documented in [Add-Computer](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/add-computer?view=powershell-5.1#parameters):

[2019-08-07 03:24] jlongo62 opened #235 "Computer: add Restart parameter when joining a computer to a domain."
ISSUE TITLE:
Computer: add Restart parameter when joining a computer to a domain.

ISSUE DESCRIPTION:
Computer does not support the Restart parameter of the underlying Add-Computer PS command. Add Restart parameter implemented as documented in[ Add-Computer](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/add-computer?view=powershell-5.1#parameters).

[2019-08-07 03:44] jlongo62 opened #236 "ADServiceAccount: Add support for Group Managed Service Accounts on target machine"
ISSUE TITLE:
ADServiceAccount: Add support for Group Managed Service Accounts on target machine

    ISSUE DESCRIPTION:

There does not appear to be support for Group Managed Service Accounts via DSC implemented via [Install-ADServiceAccount](https://docs.microsoft.com/en-us/powershell/module/addsadministration/install-adserviceaccount?view=win10-ps)

Suggest DSC modules adding:
Install-ADServiceA

[2019-08-07 06:57] PlagueHO commented on #235
Hi @jlongo62 - generally, we don't want resources to restart the node during the application of a configuration. Instead they would typically set one of the registry keys that Windows uses to indicate that a reboot is required. You'd then add the [xPendingReboot](https://github.com/PowerShell/xPendingReboot) resource where you wanted a restart to occur which causes the config to stop when it reach

[2019-08-07 09:03] PlagueHO commented on #233
That does sound like a pretty remote possibility. Still scratching my head over this one.

What I'd normally suggest is we create a failing unit test for this scenario/condition, and then modify the code so the test passes. However, it sounds like we might not be able to create a failing unit test for this. In your experience with this issue, were you able to replicate the problem outside of DSC?

[2019-08-07 12:05] Get-Ryan commented on #233
No, the Join-Path worked normally outside of DSC using the same inputs via the [System.IO.DriveInfo] object. This is why I was scratching my head as well. My only remaining thoughts in terms of testing is to first test Join-Path functionality within a simple custom DSC module and local config to verify it works in general in a DSC environment (I don't see why it wouldn't, but I haven't personally

[2019-08-07 15:41] jlongo62 commented on #235
The  xPendingReboot you have described sounds useful, however (for me conceptually) DSC is just a wrapper around Powershell .  When I determine the PS needed, I find a DSC that does the PS. Therefore having support for the Restart parameter would be desirable.

[2019-08-07 21:54] danielboth commented on #230
Just moving the set of Delay out of OnEvent is a bit to simple unfortunately. This is because not all triggers support the delay property.

Supporting Delay:
AtLogon
AtStartUp
OnEvent

Not Supporting Delay:
Daily
Weekly
Once

Also, the delay property is only supported on W2016+ / W10+, mainly because the object returned by the tooling (New-ScheduledTaskTrigger) is different on W2012 / W8 (oh MS we

[2019-08-08 07:09] PlagueHO commented on #230
I've been bitten by the differences in the Schedule objects on more than one occasion in this resource too. Thanks for submitting fix @danielboth.

[2019-08-08 07:41] PlagueHO commented on #235
Hi @jlongo62 - sure, I have a similar approach when doing this myself. But the best practice for resources is that they don't restart the machine themselves - they ask the LCM to do it on their behalf. This allows the LCM to do it gracefully.

If the resource itself issues a restart without asking the LCM then the LCM will not have an opportunity to clean up temporary files and log information to

[2019-08-08 07:45] PlagueHO commented on #236
Hi @jlongo62 - thanks for raising this. It does look like a gap - I also checked in ActiveDirectoryDsc and it does not look like it is in there either, although there is the ability to create MSA/gMSA in there.

The question I'd have is: is the resource most appropriate in this module or within the ActiveDirectoryDsc module? @johlju - any thoughts on this one?

[2019-08-08 08:00] johlju commented on #236
This is being discussed here https://github.com/PowerShell/ActiveDirectoryDsc/issues/265

Since the cmdlets requires having the ADDSAdministration module installed, if the resource would be here it will be a prerequisites for this particular resource. The resources in ActiveDirectoryDsc already have this prerequisites.  Although, as @PlagueHO says in previous comment, that resource would target mo

[2019-08-08 08:57] PlagueHO commented on #236
@johlju - really great point about the dependence on ADDSAdmin module. I think it would be best to avoid adding a dependency on ADDSAdmin in this module. So I agree- I think the resource is better suited to ActiveDirectoryDsc.

[2019-08-08 09:09] johlju commented on #236
@jlongo62 Please see issue https://github.com/PowerShell/ActiveDirectoryDsc/issues/265 and see if you can contribute to the discussion, or even better send in a PR to ActiveDirectoryDsc to help resolve this.

Suggest to close this issue as this time since we are tracking this in https://github.com/PowerShell/ActiveDirectoryDsc/issues/265.

[2019-08-08 14:27] jlongo62 commented on #235
I am using this from Azure DevOps for deploymnet of VM's. Does supporting a reboot in this manner will maintain control of the flow from the VSTS build side? i.e. I deploy the PendingReboot extension to reboot, but the Build Server waits for the VM to be back up before deploying the next extension ?

[2019-08-08 19:33] jlongo62 opened #239 "Multiple VMExtensions per (type) handler not supported for OS type..."
ISSUE TITLE:
    Multiple VMExtensions per (type) handler not supported for OS type...

    ISSUE DESCRIPTION :

An advertised benefit of DSC in Azure is the ability to Audit VM's to ensure certain actions have been performed, ie JoinDomain, BGInfo, Anti-Malware, etc. This was the main reason I went with the added effort of DSC, instead of Custom Script Extension or Remote Powershell.

In my confi

[2019-08-10 05:21] PlagueHO opened #240 "Move xPendingReboot into this resource and update to HQRM"
As per these discussions:
https://github.com/PowerShell/DscResources/issues/374
https://github.com/PowerShell/xPendingReboot/issues/27

[2019-08-11 13:52] aydeisen opened #241 "WindowsCapability and WindowsCapabilitySet: New Resource(s) Proposal"
### Description
A DSC Module around the WindowsCapability cmdlets to manage the enabled and disabled capabilities.  It should work similarly to the WindowsOptionalFeature and WindowsOptionalFeatureSet DSC Resources

### Proposed properties
Name (Key)
LogLevel
LogPath
NoWindowsUpdateCheck (mapped to the `LimitAccess` parameter)
DependsOn
Ensure

### Special considerations or limitations
Originally

[2019-08-12 09:28] PlagueHO commented on #241
Thanks for raising this @aydeisen - sounds like a great addition to me. Parameters look good (DependsOn does not need to be specifically included in the resource as is always included).

[2019-08-12 09:59] PlagueHO opened #242 "VirtualMemory: Update Integration Tests to align to template standards"
The integration tests for VirtualMemory don't align to DSC resource template standards and also violate some HQRM guidelines (e.g. improper use of " over ').

[2019-08-12 10:07] PlagueHO commented on #239
Hi @jlongo62 - sorry I missed this one.

The issue here isn't with Azure DSC specifically. The current version of the DSC LCM (LCM v1) currently only allows a single configuration to be applied to a machine at a time. Therefore it makes sense that the Azure DSC extension would uphold this limitation.

Future versions of the DSC LCM (LCM v2) may allow multiple configurations to be applied (the LCM

[2019-08-14 22:52] lavahot opened #244 "NFSShare: New Resource proposal"
### Description
A new resource which configures NFS shares on systems that support that functionality.

### Proposed properties
???
### Special considerations or limitations

[2019-08-17 00:36] PlagueHO commented on #244
Hi @lavahot - this looks like a good addition. I'd expect it to have properties like this:

[code]

[2019-08-17 10:23] #240 closed

[2019-08-20 19:04] #224 closed

[2019-08-23 00:39] dappleby300 opened #247 "SmbShare: Configuration drift due to sort ordering of access properties"
#### Details of the scenario you tried and the problem that is occurring
When using the SmbShare resource the access array properties are not sorted so if the order does not match the operating system (which doesn't appear to sort alphabetically), the configuration constantly drifts.

#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
Sort both the arrays both from t

[2019-08-23 06:50] PlagueHO commented on #247
Great catch @dappleby300 - hopefully is an easy fix. Will get onto it as soon as possible.

[2019-08-23 14:21] bozho opened #248 "ScheduledTask: Get-ScheduledTask function name clash with Carbon module"
#### Details of the scenario you tried and the problem that is occurring
We're using DSC resources from both ComputerManagementDsc and Carbon modules.

Carbon implements `Get-ScheduledTask` function, which is missing the `-TaskPath` parameter. Functions from `ScheduledTask` DSC resource call `Get-ScheduledTask` without importing `ScheduledTasks` modules, or calling the function using the module na

[2019-08-23 22:02] #230 closed

[2019-08-23 23:41] PlagueHO commented on #248
Hi @bozho - thanks for raising this. Would be happy to accept a PR with the change of adding the module name to the function name call (e.g. `ScheduledTasks\Get-ScheduledTask`).

[2019-08-24 01:15] PlagueHO opened #249 "ScheduledTask: Refactor to Remove non-Required/Key parameters from Get-TargetResource"
`Get-TargetResource` accepts many parameters that are not key/required. We should refactor `Get-TargetResource` so it does not accept these parameters.

To do this, we should move all the code from `Get-TargetResource` into a new function `Get-CurrentResource` that accepts all values and change all functions (including `Get-TargetResource`) to call this.

This should be considered a BREAKING CHANG

[2019-08-24 01:49] PlagueHO opened #250 "Update Test-DscParameterState to support ordered comparison of arrays"
This should be done by copying the version of this function from NetworkingDsc:

It is in preparation for fixing https://github.com/PowerShell/ComputerManagementDsc/issues/247

However, when I implemented this, it identified issues in ScheduledTask, so I decided to first implement this change and fix the ScheduledTask issues and then fix SmbShare issue.

[2019-08-24 04:37] PlagueHO opened #251 "ScheduledTask: Consider removing default value for StartTime"
Currently the `StartTime` parameter defaults to today's date. This requires some additional code to be included in `Test-TargetResource` to detect if a change is required or not.

It is also counter-intuitive given that some trigger types do not require a StartTime to be set and requires extra consideration.

[2019-08-24 05:08] PlagueHO commented on #247
I'll be able to implement the fix in this one once #252 is merged.

[2019-08-24 21:44] #249 closed

[2019-08-24 21:44] #250 closed

[2019-08-24 21:45] PlagueHO commented on #247
#252 has been merged so I can get onto this one.

[2019-08-27 10:27] bozho opened #254 "ScheduledTask: TaskPath should be a key property"
#### Details of the scenario you tried and the problem that is occurring
We're in the process of moving scheduled tasks to a different path and we'd like to keep the names.

However, creating two `ScheduledTask` resources (one to create a new scheduled task, the other one to remove old ones in the root) causes a conflict, since only `TaskName` property is the key property.

#### Verbose logs showi

[2019-08-27 10:44] bozho commented on #254
Oh, I see the problem. If I mark a property as a `Key`, the corresponding parameter has to be `Mandatory`, which means it has to be specified when creating a resource instance.

[2019-08-27 18:47] PlagueHO commented on #254
Hi @bozho - I think this is worth considering. It would result in a breaking change but may be something the community would be ok with to gain the functionality you describe.

It also would allow jobs with the same name to be created in different folders.

Let's open this up for community discussion and also bring it up at the next community call..

[2019-08-28 07:39] bozho commented on #254
Ok, sounds like a plan.

An easy win here would be to allow `TaskName` to be given as `path\to\task\MyTask`, which would then be parsed for the path and task name, as task names cannot contain `\`.

[2019-08-28 12:49] bozho opened #255 "ScheduledTask: Type mismatch with MultipleInstances option"
#### Details of the scenario you tried and the problem that is occurring
`MultipleInstances` option is a `String`. However, `Get-TargetResource` returns it as `Microsoft.PowerShell.Cmdletization.GeneratedTypes.ScheduledTask.MultipleInstancesEnum`, which causes `Test-TargetResource` function to always return `$false`.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the iss

[2019-08-29 07:36] PlagueHO commented on #255
This is easier to do now that this has been refactored. I'd suggest casting at this line: https://github.com/PowerShell/ComputerManagementDsc/blob/dev/DSCResources/MSFT_ScheduledTask/MSFT_ScheduledTask.psm1#L1816

[2019-08-29 07:38] PlagueHO commented on #254
So the options would be:
1. Leave as is.
2. Remove TaskPath parameter and combine with TaskName.
3. Remove default from TaskPath and make a key.

Options 2 and 3 would both be breaking change.

I tend to like Option 3 if we're going to be making a breaking change. @johlju ?

[2019-08-29 08:28] bozho commented on #255
I agree. I'll submit the patch during the day.

[2019-08-29 08:29] bozho commented on #254
I like No. 3, too.

[2019-08-29 09:54] johlju commented on #254
I actually like option 2. It allows using the same task name in different folders and for those that don’t care of path can just specify the name of the task and the resource defaults to root (for TaskPath). Going with option 2 then a consumer must always specify path even if they don’t care because the want it to be in the root path. I feel that adds unnecessary configuration for something that s

[2019-08-29 09:55] johlju commented on #254
Updated previous comment. Commenting from my phone is not the best experience :)

[2019-08-29 09:59] johlju commented on #254
Hmm... keeping TaskPath as suggested above could potentially break in a certain scenario. When using a TaskName with different paths but the same TaskName, and TaskPath is set to the same path. In that scenario it will create two task with the same name in the same path which would fail.
Maybe if we opt to keep TaskPath it could override the path, but write out a deprecation warning. Then we can r

[2019-09-04 08:26] #248 closed

[2019-09-05 11:25] Gill-Bates opened #257 "TimeZone Module is missing"
In the PS Gallery (Modules) ComputerManagementDSC offers the Module TimeZone

![grafik](https://user-images.githubusercontent.com/25774289/64337820-6d024500-cfe0-11e9-989e-123c4a12713d.png)
After importing it, TimeZone is missing

![grafik](https://user-images.githubusercontent.com/25774289/64337838-7be8f780-cfe0-11e9-9e1c-e8724d4fb4cd.png)

![grafik](https://user-images.githubusercontent.com/2577

[2019-09-06 00:36] dappleby300 opened #258 "ScheduledTask: Newlines or white-spaces at start or end of description causes repeated drifts"
#### Details of the scenario you tried and the problem that is occurring
If there is new lines or whitespace at the start or end of the task description the configuration constantly drifts

#### Verbose logs showing the problem
The verbose logs to do not show the reason for the drift

[code]
#### Suggested solution to the issue
Remove all white-space,newlines and carriage returns from the start an

[2019-09-06 19:11] #255 closed

[2019-09-07 06:17] PlagueHO commented on #257
Hi @Gill-Bates - that is a strange one. Are there any logs that are produced?

[2019-09-07 06:34] PlagueHO commented on #258
Hi @dappleby300 - good catch. Should be a simple fix. Thanks for raising this.

[2019-09-07 10:06] Gill-Bates commented on #257
Solved that issue. When a new automation account is created inside Azure Portal, the default Module Version is 5.0.

First step is to override the old version by importing the new version from the Gallery to 6.5. it seems to do this step twice until TimeZone appears inside the available modules.

Since TimeZone pops up, my DSC confit works fine. This issue can be closed.

But the behavior of Azure

[2019-09-09 10:12] 1800Zeta opened #260 "xSmbServer: New Resource Proposal - configure SMB server"
### Description
Configure SMB Server options, in particular enable SMBv1 Audit.

### Proposed properties
Ability to configure all options found the in the Get/Set-SmbServerConfiguration cmdlets

### Special considerations or limitations
There are multiple SMB Server commands (bandwidth limit, client config, server settings, shares, etc). Should I just add xSmbServer here or should we create a SMB

[2019-09-10 09:23] PlagueHO commented on #257
That is strange about the selection of 5.0 as the version. Thanks for posting about the behavior. Definitely seems strange and worth looking into further.

[2019-09-10 09:23] #257 closed

[2019-09-10 19:45] Outek commented on #241
Ok, i started with this, because i need it for myself 😁

[2019-09-11 07:31] PlagueHO commented on #241
Awesome! Thanks @Outek

[2019-09-11 19:18] PlagueHO commented on #241
@Outek, this just came up at the DSC Community call - lots of eagerness to get this one through to enable installation of SSH-Server :grin: @mgreenegit has offered assistance if required. I'm happy to help too. We'll aim to fast track this one.

[2019-09-11 20:20] Outek commented on #241
@PlagueHO  Alright, what should i do, just send the PR?

[2019-09-12 01:31] PlagueHO commented on #241
@Outek - yep, if it is ready?

[2019-09-13 20:40] PlagueHO commented on #241
Thanks @mgreenegit - @Outek has submitted the PR has been: #263. The review is under way, but definitely take a look at ensure the functionality/MOF is going to support requirements. We can extend for future versions - just aiming to get an MVP out before release this week.

[2019-09-19 06:46] PlagueHO opened #267 "Update PendingReboot Documentation on Docs.Microsoft.com"
The documentation on docs.microsoft.com refers to the xPendingReboot resource which has now been moved over here.

This is just a reminder to update the documentation. A great first issue.

[2019-09-19 15:00] X-Guardian opened #268 "The RemoteDesktopAdmin, PendingReboot and SMBShare Resources are missing from the Wiki Documentation"
The auto-generated markdown files for these resources are in the following Appveyor build artifact from the 7.0.0 release. Can someone upload them to the Wiki?

https://ci.appveyor.com/api/buildjobs/k1s5t27vtyd836oc/artifacts/ComputerManagementDsc_1.9.398.0_wikicontent.zip

[2019-09-19 15:21] X-Guardian opened #269 "The 'ComputerManagementDsc.psd1' Description Property is Out-Of-Date"
This description ends up as the module description on the [PowerShell Gallery](https://www.powershellgallery.com/packages/ComputerManagementDsc/7.0.0.0)

Current text:

"The ComputerManagementDsc module is originally part of the Windows PowerShell Desired StateConfiguration (DSC) Resource Kit. This version has been modified for use in Azure. This module contains the xComputer and xDisk resources.

[2019-09-19 18:45] PlagueHO commented on #268
Thanks for the reminder @X-Guardian - will do tonight

[2019-09-19 18:47] PlagueHO commented on #269
Thanks @X-Guardian - good catch. And that is really out of date!

[2019-09-20 21:26] PlagueHO commented on #268
I have updated these. Once moved over to DSCCommunity.org we can automate this.

[2019-09-20 21:26] #268 closed

[2019-09-20 21:34] X-Guardian commented on #268
Hi @PlagueHO, can you add `SMBShare' to the `_SIDEBAR` file?

[2019-09-20 21:36] PlagueHO commented on #268
Done - sorry I missed this!

[2019-09-20 21:37] X-Guardian commented on #268
np. It will be much better when we can automate this.

[2019-09-20 21:42] PlagueHO commented on #268
Yah - hopefully not too much longer. Gael just working out the finer details of the process of migration. They wanted to do some testing first.

[2019-09-20 21:43] #269 closed

[2019-09-20 21:55] PlagueHO commented on #267
In progress here: https://github.com/MicrosoftDocs/PowerShell-Docs/pull/4824

[2019-09-23 13:18] fullenw1 opened #271 "Remote Desktop Session limits: New resource proposal"
### Description
Currently we can manage remote desktop sessions with GPO under **Machine\Windows Components\Remote Desktop Services\Remote Desktop Session Host\Session Time Limits**
### Proposed properties
**MaxDisconnectionTime** ==> Set time limit for disconnected sessions
HKLM\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services\MaxDisconnectionTime
DWord (Milliseconds)

**MaxIdleTime** ==>

[2019-09-23 13:45] raandree commented on #271
Isn't it OK using the 'xRegsitry' resource and set the registry values accordingly? If you use Datum and the concept described in the [DscWorkshop](https://github.com/AutomatedLab/DscWorkshop/), you can put these values into the configuration (composite resource) that you use to configure Remote Desktop Services or put the values into some baseline layer.

[2019-09-23 14:43] fullenw1 commented on #271
Hi Raimund!

Interesting question...
There is a **RemoteDesktopAdmin** resource too in this module, though this can be managed with registry values only.

I tend to configure everything with DSC modules and propose new resources when I have to use registry values (I have already 33 registry values in my DSC configuration beside the DSC resource settings).
My DSC configuration seems better organize

[2019-09-23 14:53] fullenw1 opened #272 "PendingReboot resource improvement"
# Description
The **PendingReboot** resource would be perfect if a maintenance windows could be added.

# Proposed properties

**MondayNumber**: 1-5
**MondayStartTime**: Time
**MondayDuration**: Timespan

**TuesdayNumber**: 1-5
**TuesdayStartTime**: Time
**TuesdayDuration**: Timespan

**WednesdayNumber**: 1-5
**WednesdayStartTime**: Time
**WednesdayDuration**: Timespan

**ThursayNumber**: 1-5
**Th

[2019-09-23 14:56] raandree commented on #272
Sorry to bother again :)

Maintenance windows should not only apply to the reboot resource but to anything that is changing the system. I have implemented maintenance windows with a number of customers and documented this in this in the article [Realizing maintenance windows with DSC](https://dsccommunity.org/blog/dsc-maintenance-windows/). All this is part of the [DscWorkshop](https://github.com/

[2019-09-23 14:59] fullenw1 commented on #271
Just found an existing resource for that :-)

https://github.com/PowerShell/xRemoteDesktopSessionHost

[2019-09-23 14:59] #271 closed

[2019-09-23 15:16] fullenw1 commented on #272
No worries Raimund :)

I had a look at your document. So far I understand, the LCM is only triggered during a maintenance window. Right?

However, my need is to have the LCM to be triggered as usual every 15 minutes (most of the modifications or drift corrections don't need a reboot) but only the computer restart to occur during the maintenance window.

Is it better to submit this request to the *

[2019-09-23 16:00] raandree commented on #272
The LCM default intervals do no longer apply and are replaced by the 'AutoCorrectInterval', 'MonitorInterval' and 'RefreshInterval' trigger.

Monitoring the environment works always, so if you have the 'MonitorInterval' set to 15 minutes, you will get a report every 15 minutes. I usually recommend a much higher interval as the database fills up pretty quickly if all nodes send a status report ever

[2019-09-23 19:21] fullenw1 commented on #272
Ok, then I will keep my request here :-)
Thanks for the explanation Raimund!

To summarize the need:

1. For whatever reason, PendingReboot detects a pending restart (Windows update, application installation/removal, Windows feature changes, DSC changes, etc.), the computer restart must take place during a maintenance period.

2. DSC must be triggered as usual all the time (every 15 minutes or as

[2019-09-24 08:37] PlagueHO commented on #272
Great discussion @fullenw1 and @raandree - I'll leave this as discussion for now, but looks like it could be turned into enhancement. I can see the benefit in doing so, but as @raandree points out, this isn't going to be quite the same as a maintenance window.

[2019-09-27 18:20] PlagueHO opened #273 "Add Examples for SMBServerConfiguration"
The resource SMBServerConfiguration needs examples. I missed this during the original review.

[2019-09-27 20:00] PlagueHO commented on #267
This has been merged.

[2019-09-27 20:00] #267 closed

[2019-09-28 20:32] #273 closed

[2019-09-30 08:40] 1800Zeta commented on #260
This can now be closed with the merge of #261 and #274

[2019-09-30 08:40] #260 closed

[2019-09-30 14:44] ShawnHardwick commented on #200
Just chiming in as a +1 that I ran into this issue in my usage as well. Inputting the username without the domain syntax works, however if someone wanted to use a domain credential for a different trusted domain then they might run into issues.

[2019-10-01 07:08] PlagueHO commented on #200
Thanks @ShawnHardwick - this should be a relatively easy fix - good for hacktoberfest :grin:

[2019-10-01 12:23] 1800Zeta opened #275 "Service: New Resource Proposal"
### Description
Resource for configuring a Windows service

### Proposed properties
Name - Mandatory
Display Name
Description
Startup Type
Status

### Special considerations or limitations
Would use Get-Service, Set-Service, Start-Service, Stop-Service. Main goal for this is to disable the Spooler Service. Am happy to take this on. I did have a look through and didn't spot anything

[2019-10-01 18:10] PlagueHO commented on #275
Hi @1800Zeta - this resource already exists over in https://github.com/PowerShell/xPSDesiredStateConfiguration and also https://github.com/PowerShell/PSDscResources.

It is also in the inbox PSDesiredStateConfiguration resources :grin:

[2019-10-02 06:32] PlagueHO commented on #241
This has now been merged @mgreenegit - ready for next release! Thanks @Outek for your work in getting this through.

[2019-10-02 06:32] #241 closed

[2019-10-02 07:29] 1800Zeta commented on #275
Doh! Sorry, never mind. Won't do it then. Thanks for the heads up :D

[2019-10-02 07:29] #275 closed

[2019-10-04 19:39] PlagueHO commented on #275
No worries @1800Zeta  :grin:

[2019-10-07 05:55] #258 closed

[2019-10-08 20:03] lucidqdreams opened #281 "This is very complicated to download and use"

[2019-10-09 05:24] PlagueHO commented on #281
Hi @lucidqdreams - are you referring to ComputerManagementDsc resource specifically or DSC as a general pattern? Perhaps you could provide a bit more context and we could provide additional guidance or references?

[2019-10-10 04:29] lucidqdreams commented on #281
We were trying to use this in conjunction with an ARM template.  Perhaps my comment is more related to the use case with ARM templates and packaging up these files to use with Azure deployments.  We did get it working, but there are a lot of files in the root directory that seem unrelated to running DSC configuration.  Downloading this from the gallery my be simpler but this was a bit of a muddle

[2019-10-10 18:10] TommyQuality opened #282 "Schedule Task run immediately"
Hi,
How do I get the scheduled task to start immediately and only once? Im using the ScheduledTask resource, but I can't get it to start and only run once?

[2019-10-14 20:01] danielboth commented on #200
This is also one of those lovely differences in behavior between 2012 (R2) and 2016. Testing on my environment:

W2012R2 returns: DOMAIN\UserId
W2016 returns: UserId

So this is tricky to fix, since W2016 doesn't return the domain. Unfortunately, I don't have a trusted forest to test with, I'm wondering how the different versions would return that.

[2019-10-14 20:24] danielboth commented on #144
Seems related to #200

[2019-10-15 03:55] PlagueHO commented on #281
Hi @lucidqdreams - it definitely can be a fairly intensive process to get set up. But once set up it should be OK.

[2019-10-16 06:26] Argelein opened #284 "SmbShare: No ScopeName support"
ISSUE TITLE:    'SmbShare: No ScopeName support'

    ISSUE DESCRIPTION:
    It should be rather easy to add. And will allow to describe scoped shares.

[2019-10-16 21:25] rehan2908 opened #285 "Issue with Timezone within ComputerManagementDsc Module shown in example"
Hello,

I have copied the example of Set Timezone within ComputerManagementDSC module.
I saved this as a PS script and whenever i run this via azure automation services then it throws me an Error that Timezone is not a valid parameter.

Configuration TimeZone_SetTimeZone_Config
{
    Import-DSCResource -ModuleName ComputerManagementDsc

    Node localhost
    {
        TimeZone TimeZoneExample

[2019-10-17 14:25] omiossec commented on #285
Hi
did you import the module in Module Galery ?

[2019-10-23 19:51] #226 closed

[2019-10-27 16:38] fullenw1 opened #287 "PowerPlan: The system cannot find the path specified"
#### Details of the scenario you tried and the problem that is occurring
The resource fails because it cannot find an unnamed file on Windows 2019 and a TMP file on Windows 2016.

#### Verbose logs showing the problem

On Windows 2016 computers Core or GUI
[code]

On Windows 2019 computers Core or GUI
[code]
#### Suggested solution to the issue

Unfortunately no idea...

#### The DSC configuration

[2019-11-06 17:03] jmarrnaz commented on #285
I am runnning into the same issue. xTime has been deprecated but this seems to fail in Azure when running dsc node compilations. Module was already imported into Azure modules, but I went ahead and re-imported and still the issue persists. In VSC, it complains about a conflict with the name.

This is the message that VSC gives. Not sure if this is related but I figured I would include as well.

Un

[2019-11-08 23:34] PlagueHO opened #290 "Add .GitAttributes to ensure CRLF is set correctly"
This is to fix Hash Table validation check false failures.

[2019-11-16 19:19] #215 closed

[2019-11-23 00:09] #284 closed

[2019-11-25 06:43] #50 closed

[2019-11-26 22:40] gaborbalogh1 opened #292 "SMBShare not working"
#### this is a lab i set up on my MacBook Pro running in virtual box
1 domain controller
2 member server

Openned powershell_ise (64 bit) and run the fullowing command:

$folderpath = New-Item -Path C:\ -Name DSCSMB -ItemType 'Directory' -Force
$FullAccessAccounts = ("administrator")
$ReadAccessAccounts = ("DSCLAB\uk-m-svr-01$","DSCLAB\uk-m-svr-02$")

New-SMBShare –Name "DscSmbPull" –Path $folderp

[2019-12-02 15:20] ewhitesides opened #293 "issue with scheduledtask starttype"
My DSC configuration for scheduledtask resources reports as not in desired state, and my suspicion is that it has to do with the ScheduleType parameter.

Here is an example of working scheduledtask resource:

ScheduledTask workingtask {
            TaskName           = 'workingtask'
            TaskPath           = '\'
            ActionExecutable   = 'C:\windows\system32\WindowsPowerShell\v1.0\po

[2019-12-02 16:07] #293 closed

[2019-12-03 17:27] ewhitesides opened #294 "ScheduledTask resource Credential parameter with Domain\ prefix"
I have a job as following, but it reports the state as incorrect because of the credential. It appears I am setting it as 'username' but then the scheduled task is taking that and just setting it as DOMAIN\username, leading to a mismatch.  I think I can probably hack it to work somehow, but ideally the scheduledtask resource should probably evaluate DOMAIN\username the same as username.

Scheduled

[2019-12-03 20:04] ewhitesides commented on #294
I flipped it around, I provided 'DOMAIN\username' and now the state is reporting as false, indicating it is looking for just 'username'.

VERBOSE: [NOAA8203-HV3]:                            [[ScheduledTask]SnapshotCleanup] NOTMATCH: Value (type 'System.String') for property 'ExecuteAsCredential' does not match. Current state is 'powershelljobs_svc' and desired state is 'NOAA8203\powershelljobs_svc

[2019-12-03 22:21] ewhitesides commented on #294
I think I may have solved this - solution was to run OS updates.  perhaps something was changed in Task Scheduler, but now the username is lining up when I specify it as DOMAIN\username. will continue to monitor this.

[2019-12-04 21:04] ewhitesides commented on #294
now seeing the following

ScheduledTask "MarineForecastDownload_pm" {
                TaskName = "MarineForecastDownload_pm"
                TaskPath = '\8203Jobs\'
                ActionExecutable = 'C:\windows\system32\WindowsPowerShell\v1.0\powershell.exe'
                ActionArguments = "-Command $MarineForecast_Cmd1 $MarineForecast_Cmd2"
                ScheduleType = 'Daily'

[2019-12-04 22:07] ewhitesides commented on #294
i solved this by removing SynchronizeAcrossTimeZone = $true

i remember from previous experience that ScheduledTasks by default have the 'Sync across timezone' checkbox checked by default.

Powershell jobs, do not sync across timezones by default.

[2019-12-06 18:03] gaborbalogh1 commented on #292
Resolve the problem I had with the permissions and now I have a working script that will run
the same way every time thanks guys.

[2019-12-06 18:03] #292 closed

[2019-12-16 01:54] PlagueHO commented on #285
Hi @omiossec,

Sorry about the delay in looking into this.

What version of Windows are you using and what version of this resource module is installed?

[2019-12-18 16:15] danielboth commented on #294
Just to share here as well, I also noticed a difference between scheduledtask behaviour on W2016 after recent updates (I think November 2019). On W2016 before November 2019 UserId would be returned as 'USER' after updates, it is returned as 'DOMAIN\User'.

I was unable to find any references in Microsoft changelogs to this bugfix (what I believe it is, as on W2012 it always returned the proper 'DO

[2019-12-24 21:20] PlagueHO opened #295 "Update module to new CI and release process"
Since being migrated to the DSC Community, this module must be updated to use the new CI process and repository structure.

[2020-01-13 12:30] VLoub opened #296 "Wiki publicly opened for Edit"
Hello,

i noticed i can update your wiki here, not sure if this is intention of mistake.

[2020-01-14 06:58] PlagueHO commented on #296
Hi @VLoub - right you are - thank you for pointing this out. I've corrected this. Thanks again.

[2020-01-14 06:58] #296 closed

[2020-01-17 08:55] hassan041 commented on #109
Use Z at the end of time . it enables the option.
I have added Z at the end of the time, which does 2 things.

The time entries would be considered in UTC mode and it automatically converts to Local time in the server when the task is created.
it also enable option "Synchronize across time zones", which will take of any changes like daylight saving of the time zone

[2020-01-17 19:34] PlagueHO commented on #109
Thanks @hassan041 - it is possible we'll be able to improve this code in the future.

[2020-01-20 12:44] davehl7 opened #297 "WindowsCapability - Test-TargetResource fails"
An attempt to test WindowsCapability resource fails.

#### Details of the scenario you tried and the problem that is occurring
Trying to handle capability resource 'SNMP.Client~~~~0.0.1.0' via following script:
	WindowsCapability SNMP {
		Name = 'SNMP.Client~~~~0.0.1.0'
		Ensure = 'Present'
	}

#### Verbose logs showing the problem
VERBOSE: An LCM method call arrived from computer COMP-XYZ with us

[2020-01-21 04:30] PlagueHO commented on #297
Hi @davehl7 - this does seem to be the case. There is a missing default parameter on the Ensure (https://github.com/dsccommunity/ComputerManagementDsc/blob/dev/DSCResources/MSFT_WindowsCapability/MSFT_WindowsCapability.psm1#L170) as well as a missing command:
[code]

I'm not sure why the unit tests didn't pick this up. So I'll need to fix these. I'll fix this at the same time as migrating to the n

[2020-01-23 00:49] rooney-smith opened #298 "Cannot disable "Microsoft Compatibility Appraiser""
#### Details of the scenario you tried and the problem that is occurring
Trying to disable "Microsoft Compatibility Appraiser" Schedule task generates an error.

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

OsName: Mi

[2020-01-24 05:14] PlagueHO commented on #297
Still working on this, but should be finished in the next day or two.

[2020-01-24 11:04] rooney-smith commented on #298
More detail....
I've tried this on various machines, even a vanilla VM deployed in Azure using the Microsoft image from the Marketplace and it always fails.

The issue seems to be related to scheduled tasks that have "Mulitple triggers defined".

These all fail with the same error

[2020-01-31 20:42] #295 closed

[2020-01-31 20:42] #297 closed

[2020-02-03 05:04] SumanGitHub commented on #204
If you want to
**For windows server 2016 :**
[code]

[2020-02-07 00:43] ksaffarian opened #305 "Add option to set description on AD object"
Hi
Is it possible to create a parameter or to re-use "Computer\Description" and replicate it the Computer Object in AD?
The current "Description" fields set a local description and in dynamic environment, where you have 100s of random computer names (like AWS / Azure) it would be very beneficial to have a description on joined machines.
Please advise of any solution.
Regards

[2020-02-07 13:00] raandree commented on #305
I do not see this in the scope of the Computer resource. Setting the description in AD is a different task. But one can do this using the [ADComputer](https://github.com/dsccommunity/ActiveDirectoryDsc/tree/master/source/DSCResources/MSFT_ADComputer) resource. Is that an option?

[2020-02-07 13:06] ykuijs opened #306 "[ScheduledTask] Disabling scheduled task fails with incorrect user name or password error"
#### Details of the scenario you tried and the problem that is occurring
I try to disable a scheduled task using the ScheduledTask resource. Unfortunately this results in the error "The user name or password is incorrect.", thrown by the Register-ScheduledTask cmdlet.

I have been able to track this back to the following lines:
https://github.com/dsccommunity/ComputerManagementDsc/blob/794d40123c9

[2020-02-07 13:27] ykuijs commented on #306
There is something specific with this task. I am just unable to disable this specific task. When I run the following commands, the same error is displayed
[code]

[2020-02-08 17:47] johlju opened #307 "xSCEP module available but needs community assistance"
### Description
A module for System Center Endpoint Protection has been developed but needs tests and documentation to be considered for the resource kit.
https://github.com/robwi/xSCEP

HELP WANTED

*This issue was moved from https://github.com/PowerShell/DscResources/issues/213.*

### Proposed properties
See resources to be migrated in the link above.

### Special considerations or limitations

[2020-02-11 06:17] PlagueHO commented on #306
Hi @ykuijs - that is pretty odd. What does the `Principal` property of the task look like? E.g.
[code]

[2020-02-11 06:58] PlagueHO commented on #204
Thanks @passionatedevops! I think we are doing the same thing in the resource as long as `ScheduleType` is set to `Once` and `StartTime` and `RepeatInterval` is also set to a value that can be parsed as a timespan.

However, due to differences in the way triggers are set in Windows Server 2012 R2 and Windows Server 2016+ there is some other differences that might still affect this.

If this error

[2020-02-12 10:16] fullenw1 opened #308 "SystemLocale and IEEnhancedSecurityConfiguration are missing from version 7.1.0.0"
#### Details of the scenario you tried and the problem that is occurring
Version 7.1.0.0 is supposed to have the new **SystemLocale** and **IEEnhancedSecurityConfiguration** resources.
However they have not been implemented.
#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
Re-publish the module available in PSGallery and include the missing resources.

#### The DS

[2020-02-13 06:33] PlagueHO commented on #308
Hi @fullenw1 - these resources aren't in v7.1.0.0. You can find them in v8.0.0-preview0001 and they'll be released as a final release in v8.0.0 in the next few days, once https://github.com/dsccommunity/ComputerManagementDsc/pull/304 is merged.

[2020-02-13 06:44] PlagueHO opened #309 "Add CodeCov Validation Support"
https://dsccommunity.org/blog/add-codecov-support-to-repository/

[2020-02-14 17:47] fullenw1 commented on #308
Ok I see! The README.md file was a bit in advance with the resource list :)
I have checked v8.0.0 which has been released since and it contains the formerly missing resources.
Thanks @PlagueHO  !

[2020-02-14 17:47] #308 closed

[2020-02-20 10:56] ykuijs commented on #306
The Principal is:
[code]

[2020-02-20 12:19] ykuijs commented on #306
Did some more troubleshooting and discovered that this code always fails when you create a task that has "Run whether user is logged on or not" configured.

The PowerShell native "Disable-ScheduledTask" (PSv5 and above only) works fine on these tasks.

[2020-02-20 12:50] ykuijs opened #311 "[ScheduledTask] Resource throws errors when task does not exists, but not all parameters are provided"
#### Details of the scenario you tried and the problem that is occurring
I am trying to disable a scheduled task and using the below config for this. Since I am only interested in disabling the scheduled task, I do not provide any of the Action* parameters like ActionExecutable.

During some testing, I ran into a situation where my scheduled task wasn't properly created. When the ScheduledTask res

[2020-02-25 18:29] Francois-Rousseau opened #312 "Documentation missing in the ComputerManagementDsc wiki for 5 resources"
The documentation is missing in the ComputerManagementDsc wiki for those resources:

IEEnhancedSecurityConfiguration
SmbServerConfiguration
SystemLocale
UserAccountControl
WindowsCapability

[2020-02-29 20:34] PlagueHO commented on #312
Hi @Francois-Rousseau - we are working on adding the documentation generation automation back in. Once that is added back in then we'll be able to update the documentation/Wiki with the new resources.

[2020-03-09 14:32] fullenw1 opened #314 "Group: Cannot perform this operation on built-in accounts"
#### Details of the scenario you tried and the problem that is occurring
I am setting members of 3 local groups.
It works fine for 2 local groups (**Remote Management Users** and **Remote Desktop Users**), but not for the **Local Administrators** group.

#### Verbose logs showing the problem
[code]

Current result:
[code]

Expected result:
[code]
#### Suggested solution to the issue

No idea...

#

[2020-03-11 13:03] dave-boulet opened #315 "DSC_PrintManagement: New resource proposal"
### Description
The DSC_PrintManagement resource would manage printer drivers, shared printer creation and mapping, and local printer installation. This resource would initially replace the printer deployment management functionality provided by Group Policy.

### Proposed properties
Shared Printer Name(s) (Array)

### Special considerations or limitations

[2020-03-13 16:17] johlju opened #316 "ComputerManagementDsc: Add conceptual help to all resources"
We should add the build task `Generate_Conceptual_Help` to create conceptual help.
https://github.com/dsccommunity/DscResource.DocGenerator#generate_conceptual_help

[2020-03-15 23:30] PlagueHO commented on #315
Hi @dave-boulet - this sounds like a great resource, or set of resources.

I'm thinking that as this may be a set of printer related resources, then it might worth putting them into their own resource module instead of ComputerManagementDsc? Perhaps PrinterManagementDsc?

What does the community think?

[2020-03-18 10:43] DennisL68 commented on #281
Installing this module isn't very complicated...

`Install-Module ComputerManagementDsc`

Exactly what do you feel is the issue at hand?

[2020-03-18 10:53] DennisL68 opened #317 "ScheduledTask: Specifying BuiltInAccount = 'SYSTEM' will fail DSC test"
### Details of the scenario you tried and the problem that is occurring
Tried creating a scheduled task running with builtin account SYSTEM.

The task is created succesfully but listed as ResourceNotInDesiredState

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
The resource only accepts 'SYSTEM' as input. But Scheduled task actually converts this to 'NT AUTHORIT

[2020-03-18 14:34] DennisL68 commented on #317
Proposed fix is available in #313

[2020-03-19 10:59] babatman commented on #298
I found a solution (for windows 10)
There is a surcharge of function in DSC_Scheduledtask.psm1 :
function Disable-ScheduledTask
{
    [CmdletBinding()]
    param
    (
        [Parameter(Mandatory = $true)]
        [System.String]
        $TaskName,

        [Parameter()]
        [System.String]
        $TaskPath = '\'
    )

    $existingTask = ScheduledTasks\Get-ScheduledTask @PSBoundParameters

[2020-03-24 14:42] NemoDima opened #320 "Ability to set WinOS to "Adjust for best performance""
Ability to Set WinOS to "Adjust for best performance"
### Description
Need the ability to Set WinOS to "Adjust for best performance"
Useful links:
1. https://social.technet.microsoft.com/Forums/windowsserver/en-US/73d72328-38ed-4abe-a65d-83aaad0f9047/adjust-for-best-performance?forum=winserverpowershell
2. https://msfn.org/board/topic/31999-adjust-for-best-performance-through-command-line/

### Pr

[2020-03-24 14:53] NemoDima opened #321 "Ability to Set WinOS "Processor scheduling" to Programs"
Ability to Set WinOS "Processor scheduling" to Programs
### Description
Need ability to Set WinOS "Processor scheduling" to Programs
![изображение](https://user-images.githubusercontent.com/43349820/77439553-dec0a580-6def-11ea-9691-2e933e546f79.png)

Useful links:
1. https://www.tenforums.com/tutorials/89429-adjust-processor-resources-best-performance-windows-10-a.html

### Proposed properties
N/A

[2020-03-26 19:23] PlagueHO commented on #321
I wonder if a bunch of these settings could be wrapped together in a single resource called WindowsPerformanceOptions or something like that?

[2020-03-26 19:24] PlagueHO commented on #317
This has been merged, so will close. I'll release a new version of this module shortly.

[2020-03-26 19:24] #317 closed

[2020-03-27 07:20] NemoDima commented on #321
I think it would be good choice.

[2020-04-16 22:42] varnav commented on #282
Looks like "At task creation" trigger could help but is not supported.

[2020-04-20 20:56] varnav commented on #29
I vote for this

[2020-04-21 06:09] dave-boulet commented on #315
I'm not sure if the activity of installing a printer onto a client device would need to be moved to another DSC module. It is still manipulating and managing a Computer. Maybe print server resources would be best in the separate PrinterManagementDSC module.

Thoughts?

[2020-04-23 04:55] DelectableMechanisations opened #323 "ScheduledTask: Resource is never in compliance when BuiltInAccount is used"
### Details of the scenario you tried and the problem that is occurring
I am trying to apply a configuration using the ScheduledTask resource and the BuiltInAccount property.
Whilst the configuration applies successfully, running Test-DscConfiguration always returns false.
This ultimately seems to boil down to the SYSTEM principal account name sometimes displaying as 'SYSTEM' and other times as 'N

[2020-04-26 21:30] PlagueHO opened #324 "Correct Pipeline Include Path in Azure Pipeline Build YAML"
This is because a recent change to Azure DevOps Pipelines has removed the ability to use `**` in Include/Exclude paths.

https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#wildcards

dsccommunity/ActiveDirectoryDsc#599

[2020-04-26 21:43] PlagueHO opened #325 "Update to Use Latest Version of ModuleBuilder and merge HISTORIC_CHANGELOG"
Update to use latest version of ModuleBuilder module. This also allows merging the HISTORIC_CHANGELOG.MD into the CHANGELOG.MD.

[2020-05-02 20:19] PlagueHO opened #327 "Convert Module to use DSCResource.Common"
See this PR for example: dsccommunity/NetworkingDsc#453

[2020-05-03 05:17] PlagueHO opened #328 "ScheduledTask: ExecuteAsCredential ServiceAccount on Windows Server 2019"
#### Details of the scenario you tried and the problem that is occurring

The ScheduledTask integration tests are failing when using a Service Account as the credential on Windows Server 2019.

The tests fail because on Windows Server 2019 the BuiltInAccount does not match:
[code]

https://dev.azure.com/dsccommunity/ComputerManagementDsc/_build/results?buildId=1640&view=logs&j=d204ecb0-679f-5511-0

[2020-05-03 05:30] PlagueHO commented on #323
Adding some additional information to this as I think #328 is a duplicate (will close #328):

The ScheduledTask integration tests are failing when using a Service Account as the credential on Windows Server 2016.

The tests fail because on Windows Server 2016 the BuiltInAccount does not match:
[code]

https://dev.azure.com/dsccommunity/ComputerManagementDsc/_build/results?buildId=1640&view=logs&j=

[2020-05-03 05:30] #328 closed

[2020-05-03 05:32] PlagueHO commented on #323
Thanks for raising @DelectableMechanisations BTW! I've got to fix this as part of PR #326 because the CI pipeline is currently in a failed state. So I'll test out your change in that PR and see if it works.

[2020-05-03 08:18] PlagueHO commented on #323
I've managed to fix one of the problems: BuiltInAccount, but still working on the ExecuteAsCredential problem.

[2020-05-04 07:01] PlagueHO commented on #294
I've not been able to track this down, but there are many strange behaviors around how UserIds are stored in the Task Scheduler principal object that is returned.

For example, setting the ExecuteAsCredential to 'BUILTIN\Users' (through code or the UI) and it will always return 'Users' in the principal. This occurs in the UI too. However, setting 'DOMAIN\Users' returns the correct value.

I'm not

[2020-05-05 05:58] PlagueHO opened #329 "Improve Integration Test Reliability"
Closing and reopening to kick of the tests again since it failed on. I have seen this when the previous run is to fast to the LCM haven't time to cooldown.

[code]

https://dev.azure.com/dsccommunity/ComputerManagementDsc/_build/results?buildId=1818&view=logs&j=bed57fa5-efa2-5e6c-3967-59915169b168&t=5a0501c2-c194-508e-8f56-358cb6bbc353&l=383

In xWebAdministration and SqlServerDsc I have added the

[2020-05-05 06:01] #294 closed

[2020-05-05 06:01] #323 closed

[2020-05-05 06:01] #324 closed

[2020-05-05 06:01] #325 closed

[2020-05-11 09:13] PlagueHO opened #332 "Correct Build.YML to Support ModuleBuilder 1.7.0"
The ModuleBuilder 1.7.0 release renamed the `CopyDirectories` attribute to `CopyPaths`. Update the `Build.yml` to fix this issue.

[2020-05-12 22:23] Rob-S opened #333 "ScheduledTask: MultipleInstances Parameter Should Allow For 'StopExisting'"
#### Details of the scenario you tried and the problem that is occurring

In this case, we have a scheduled task that runs continuously but gets restarted daily, The manually created tasks specify "If the scheduled task is already running, then ... Stop the existing instance". This is one of four options in the drop-down box and shows up in the task's XML file as:
[code]

#### Verbose logs showing

[2020-05-14 04:37] #327 closed

[2020-05-14 04:37] #332 closed

[2020-06-14 00:55] PlagueHO opened #336 "Fix Build Failures due to Pester 5.x"
Pester 5.x has been released and both Sampler and DSCResource.Test has been updated to support it, however, Code Coverage support is not available. To solve this, pin Pester to 4.10.1.

[2020-06-14 20:55] #336 closed

[2020-06-16 18:54] aydeisen opened #338 "WindowsEventLog: Add parameter to set RestrictGuestAccess registry key"
#### Details of the scenario you tried and the problem that is occurring

   Add a parameter to set the "RestrictGuestAccess" registry value for Windows Event Logs

#### Verbose logs showing the problem

N/A

#### Suggested solution to the issue

Add RestrictGuestAccess to WindowsEventLog so it can be set within the resource and not separately using the Registry resource

#### The DSC configuratio

[2020-06-26 22:14] PlagueHO opened #339 "ScheduledTask: Add Test to cover 'StopExisting' value in MultipleInstances Parameter"
The `StopExisting` value in the `MultipleInstances` parameter must be handled in a special way because it is missing from the ENUM used by the underlying cmdlets/objects.

We don't have unit tests that specifically cover the use of this, so either extract the handling into a function that can be mocked and/or add an integration test.

See https://github.com/dsccommunity/ComputerManagementDsc/pull/

[2020-06-26 22:26] PlagueHO commented on #338
To confirm, the proposal would result in the MOF changing like this:
[code]

Setting a value of `True` to RestrictGuestAccess would set the key value to "1" and setting to `False` would set the key value to "0", as per https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-gpsb/0b9673a7-ce0a-49b4-912b-591efdb37cdf

This should be easy enough, although would need to ensure the appropriate

[2020-06-26 22:29] PlagueHO commented on #333
Closing as addressed in #339

[2020-06-26 22:29] #333 closed

[2020-06-26 23:38] PlagueHO commented on #314
Hi @fullenw1 - sorry, I just got to looking at this one. I think you're using the PSDesiredStateConfiguration resource module to set group membership - suggest using xPSDesiredStateConfiguration and if it doesn't work, raising the issue over there as ComputerManagementDsc doesn't contain the Group resource.

[2020-06-26 23:38] #314 closed

[2020-06-28 00:12] #329 closed

[2020-06-29 19:43] aydeisen commented on #338
Confirmed: that's exactly what I'm looking for

[2020-06-30 16:37] pmcevoy commented on #312
Bump...

Docs still missing months later...

[2020-07-03 23:40] PlagueHO opened #342 "Enable Automated Documentation Publish to Wiki in Deployment"
Add `- Publish_GitHub_Wiki_Content` to the `publish:` section of `Build.yml`.

[2020-07-04 03:54] PlagueHO commented on #312
Thanks for the reminder @pmcevoy - it is done. Also adding new automatic update task so shouldn't need manual update in future.

[2020-07-04 03:54] #312 closed

[2020-07-04 22:57] #342 closed

[2020-07-07 10:50] fpschrisiom commented on #285
Azure, latest - 8.3.0
Trying to pull it in on a Win10 manchine but same error on 2016/19 at compilation.

Compilation Exception:
Exception calling "NewScriptBlock" with "1" argument(s): "At line:19 char:15 + TimeZone = "GMT Standard Time" + ~~~~~~~~~~~~~~~~~~~ Unexpected token '"GMT Standard Time"' in expression or statement. At line:10 char:2 + { + ~ Missing closing '}' in statement block or type

[2020-07-07 21:57] PlagueHO commented on #285
Hi @fpschrisiom ,

There are a few issues with this config:
1. rsSysLocale and rsTime are not the correct resource names: Should be SystemLocale and TimeZone respectively.
2. The TimeZone resource should be like this:
[code]
3. There is no UserLocale resource in ComputerManagementDsc. Would be open to adding it though.

[2020-07-08 12:19] fpschrisiom commented on #285
Ahhh, my bad. Long few days with DSC and had multiple gits open with dsc locales but this git came up with the same error! I swear I thought I copied the code from the wiki and triple checked it. Wishful thinking.

If you wouldn't mind adding it, that would be awesome. I'm having to cobble so much together so I don't have to maintain a server image for our prod cattle.

I got it working.

`	TimeZo

[2020-07-08 20:59] PlagueHO commented on #285
No worries! Glad it's working! I'll add a new issue to track the enhancement,

[2020-07-08 21:06] PlagueHO commented on #285
@fpschrisiom - could you raise a new issue detailing the new resource you'd like added? I just want to make sure we get the functional requirements right - e.g. that the resource covers the user scenario correctly.

[2020-07-09 14:31] aydeisen opened #344 "UserAccountControl: ComputerManagementDsc vs SecurityPolicyDsc"
Out of curiosity: what's would be the use case for me to use the `UserAccountControl` resource in the `ComputerManagementDsc` module instead of the setting the `User_Account_Control*` keys for the `SecurityOption` resource in the `SecurityPolicyDsc` module?

[2020-07-14 15:16] fpschrisiom commented on #285
Certainly! I've added a task on my planner to do it tomorrow. Sorry, notifications not on! I'll sort that too.

[2020-07-16 15:33] fullenw1 commented on #314
@PlagueHO

Thanks and sorry for my mistake :/
I will open it there as you said.
Have an nice day!

[2020-07-20 08:38] SDedik opened #345 "ScheduledTask: Delay parameter applicability"
## Details of the scenario you tried and the problem that is occurring
According to documentation:

Is there a specific reason why Delay is only applicable to OnEvent ScheduleType?
Because while creating task in GUI, this parameter is applicable to every ScheduleType except `OnIdle` (where it is disabled, for obvious reasons) and `On a schedule` (where it is replaced by RandomDelay)

In my experie

[2020-08-05 05:36] #306 closed

[2020-08-06 20:29] PlagueHO opened #348 "Rename master branch to main"
As per [this statement](https://sfconservancy.org/news/2020/jun/23/gitbranchname/).

[2020-11-05 13:16] ChristophHannappel opened #349 "WindowsEventLog MaximumSizeInBytes needs IsEnabled Parameter"
The Ressource WindowsEventLog doesn't do anything with `MaximumSizeInBytes` if the Parameter `IsEnabled` is not set.
I think that behavior is based on the GUI, where the MaximumSizeInBytes Control gets deactivated if you disable the log.
I'd be nice if the Documentation would state, that you need the Parameter `IsEnabled` set to `$true` in order to use `MaximumSizeInBytes`.

This Ressouce does not

[2020-11-07 06:26] PlagueHO commented on #349
Hi @ChristophHannappel - thanks for raising this and good point. This should be documented and also an example should be included. I've marked as Help Wanted for now because I'm completely snowed under till beginning of Dec.

[2020-11-07 09:21] ChristophHannappel commented on #349
I can help :) Since the knowledge is fresh. Since this is my first time, should i try a pull request on the wiki md file? Or does it work different?

[2020-11-07 09:27] PlagueHO commented on #349
Hi @ChristophHannappel - would love the help. Just submit a PR against the README.MD in the `source\DSCResources\DSC_WindowsEventLog` folder and add a new example to the `source\Examples\Resources` folder. The Wiki gets updated automatically from those files.

[2020-11-17 10:04] bjornson09 opened #350 "[PendingReboot] DSC_PendingReboot.data.psd1 can't be found in Resource Folder"
#### Details of the scenario you tried and the problem that is occurring

I'm using the the DSC_PendingReboot Resource in some configurations. When I tried to apply one configuration on a german ISO I get the Message which I paste in the Verbose logs.
**Mention:** Not only on a German OS but on another Machine with another ISO he looked for [...]ComputerManagementDsc\8.4.0\DscResources\DSC_Pending

[2020-11-17 21:53] PlagueHO commented on #350
Thanks for raising this. Didnt mean to close/ reopen. This looks like an issue with the localization code loading. Should not have tried to look for that localization because we've not implemented it.

[2020-12-02 09:11] mgonzcast commented on #350
I am having the same issue with version 8.4.0 with a Spanish ISO. It tries to find the folder:

'C:\Program Files\WindowsPowerShell\Modules\ComputerManagementDsc\8.4.0\DscResources\DSC_PendingReboot\es-ES\'

I copied the en-US folder under C:\Program Files\WindowsPowerShell\Modules\ComputerManagementDsc\8.4.0\DscResources\DSC_PendingReboot\ and rename it to es-ES but it´s still failing.

[2020-12-02 18:15] PlagueHO commented on #350
Hi @mgonzcast and @bjornson09 - I've found the problem I think - it isn't the language file that is failing to load, it appears to be the data file. I'll fix this, this weekend.